---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'
import coverPaper from '@assets/images/WannaPlay-banner-paper.jpeg'
import coverFestival2023 from '@assets/images/our-projects/Festival-2023-2.webp'
import coverFestival2022 from '@assets/images/our-projects/Festival-2022.webp'
import coverInauguration from '@assets/images/our-projects/Inauguration-1.webp'
import coverFestivalBiere from '@assets/images/our-projects/Festival-de-la-Biere.jpeg'
import coverIdeesBleues from '@assets/images/our-projects/festival-idees-bleues.webp'
import coverBELvue from '@assets/images/our-projects/BELvue.webp'
import coverMuntpunt from '@assets/images/our-projects/Muntpunt-3.webp'
import coverJeuxJardin from '@assets/images/our-projects/soiree-theme-jardin-3.webp'
import coverFonderie from '@assets/images/our-projects/la-Fonderie-3.webp'
import coverJeuParfait from '@assets/images/our-projects/BGF-2020-Le-jeu-parfait.webp'
import coverNuitDecouvertes from '@assets/images/our-projects/nuit-decouvertes-ludiques.webp'
import coverAppCompagnon from '@assets/images/our-projects/BGF-2019-app-compagnon.webp'
import coverTablesOuvertes from '@assets/images/our-projects/BGF-2017-tables-ouvertes.webp'
import coverHachette from '@assets/images/our-projects/avec-Hachette.webp'
import coverJeuTAime from '@assets/images/our-projects/jeux-taime-1.webp'

const lang = { code: 'fr' }
const pageUrl = new URL(Astro.url.pathname, Astro.site)
const canonicalUrl = (pageUrl.href + '/').replace(/[\/]+$/, '/')
---

<SkeletonPage {lang}>
  <SEO
    slot="head"
    ogType="website"
    title="Nos événements"
    description="Découvrez les événements passés et à venir de Wanna Play in Brussels"
    {canonicalUrl}
    socialImage={'/assets/images/LOGO-1024px.png'}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center width-max flow gap-h2">
      <header
        class="flex center text flow items-center gap-h7 color-palette-trans background-overlay padding-y-relative-xl full-bleed"
        style='background-image: url("/assets/images/WannaPlay-banner-paper.jpeg"); box-sizing: border-box; --full-bleed-max-width: var(--width-max);'
      >
        <h1>Nos projets</h1>
      </header>

      <div class="flow">
        <h2 class="center text">
          Depuis 2017, Wanna Play réunit les joueurs autour de concepts très différents
        </h2>
        <p>
          Depuis nos débuts, on adore créer des moments qui rassemblent. On a déjà organisé deux
          festivals, de nombreuses soirées jeux et animations publiques ou privées, ainsi que des
          activités intergénérationnelles où tout le monde trouve sa place. On propose aussi des
          animations pour des publics à besoins spécifiques, des formations et ateliers pour les
          professionnels, des team buildings d’entreprise et des animations commerciales en magasin.
        </p>

        <p>
          Grâce à notre réseau de partenaires et d’animateurs, nous pouvons également imaginer des
          événements sur mesure, adaptés à tes envies et à ton public. D’une après-midi ou soirée
          jeux conviviale à la création de nouveaux concepts utilisant le jeu d’une autre manière,
          on s’adapte à chaque demande et à chaque contexte.
        </p>

        <p>
          Bref, on aime varier les formats, tester de nouvelles idées et créer des expériences qui
          ont du sens. Et ce n’est que le début… Retrouve ici quelques exemples de projets passés et
          à venir.
        </p>
      </div>

      <p class="center text p">Retrouve ici quelques exemples de projets passés et à venir</p>

      <section class="flow">
        <h2 class="center text">Organisés par Wanna Play</h2>
        <ul
          class="grid-fluid gap-p list reset projects-list-wanna-play"
          style="--columns: 3; --width-column-min: var(--width-col-4);"
        >
          <li
            class="project-card border-radius-m color-palette-variation-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverFestival2023.src}');`}
            >
              <p class="bold">08.07.2023</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Festival Wanna Play in Brussel 2023</h3>
              <p>Bruxelles - Jardin du Grand Hospice Pacheco</p>
              <a href="/fr/nos-projets/wanna-play-in-brussel-2023">En savoir plus</a>
            </div>
          </li>
          <li
            class="project-card border-radius-m color-palette-variation-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverFestival2022.src}');`}
            >
              <p class="bold">30.07.2022</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Festival Wanna Play in Brussel 2022</h3>
              <p>Bruxelles - Jardin du Grand Hospice Pacheco</p>
              <a href="/fr/nos-projets/wanna-play-in-brussel-2022">En savoir plus</a>
            </div>
          </li>
          <li
            class="project-card border-radius-m color-palette-variation-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverInauguration.src}');`}
            >
              <p class="bold">10.06.2018</p>
            </div>
            <div
              class="project-card-body box no-border flow bleed-bg"
              style="--bleed-inline: 0; --bleed-top: 1rem"
            >
              <h3 class="h4">Inauguration et soirée jeux</h3>
              <p>Anderlecht - Ludothèque Espace Carême</p>
              <a href="/fr/nos-projets/inauguration">En savoir plus</a>
            </div>
          </li>
        </ul>
      </section>

      <section class="flow">
        <h2 class="center text">En partenariat</h2>

        <ul
          class="grid-fluid gap-p list reset projects-list-partnerships"
          style="--columns: 3; --width-column-min: var(--width-col-4);"
        >
          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverHachette.src}');`}
            >
              <p class="bold">Depuis 2024</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Animation sur festivals</h3>
              <p>
                Coordination d'un réseau d'animateurs et animation sur les festivals belges avec
                <strong>Hachette Boardgames Benelux</strong> et <strong>Blackrock Games</strong>
              </p>
              <p>Dans toute la Belgique</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div class="project-card-header" style={`background-image: url('${coverBELvue.src}');`}>
              <p class="bold">Sur commande</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Mission chamboule temps</h3>
              <p>
                Jeu d'enquête créé par <a href="/fr/o/game-spirit/" target="_blank" class="bold"
                  >Game Spirit</a
                > dans le musée <a
                  href="https://www.belvue.be/cms/web/fr/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="bold">BELvue</a
                > pour team-buildings et animations publiques
              </p>
              <p>Coordination, animation</p>
              <p>Bruxelles - Centre ville</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverFestivalBiere.src}'); background-size: cover; background-position-y: 10%;`}
            >
              <p class="bold">Festival annuel 2023 -> 2025</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Festival de la bière</h3>
              <p>Animation publique avec la commune de Woluwe-Saint-Pierre</p>
              <p>Woluwe-Saint-Pierre</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverIdeesBleues.src}');`}
            >
              <p class="bold">Festival annuel 2023 -> 2025</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Festival des Idées Bleues</h3>
              <p>
                Aide animation, rangement, photos sur le festival organisé par la boutique <a
                  href="https://www.lesideesbleues.be/"
                  target="_blank">Les Idées Bleues</a
                >
              </p>
              <p>Wavre</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div class="project-card-header" style={`background-image: url('${coverPaper.src}');`}>
              <p class="bold">16.09.2023</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Color my Day - fête de quartier</h3>
              <p>
                Avec <a
                  href="https://www.brusselsmajorevents.be/"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="bold">Brussels Major Events</a
                >.<br />
                Coordination, animation et création d'un jeu concours.
              </p>
              <p>Bruxelles - Centre ville</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverMuntpunt.src}');`}
            >
              <p class="bold">Animation mensuelle 2023 -> 2024</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">All You Can Play</h3>
              <p>
                Coordination et animation trilingue dans la bibliothèque <a
                  href="https://muntpunt.be/"
                  target="_blank">Muntpunt</a
                >.
              </p>
              <p>Bruxelles - Centre ville</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverJeuxJardin.src}');`}
            >
              <p class="bold">Avril, mai, juin 2023</p>
            </div>
            <div
              class="project-card-body box no-border flow color-palette-variation-funky-contrast"
            >
              <h3 class="h4">
                Soirées jeux <a href="https://jardin.brussels/fr" target="_blank"
                  >au Bar du Jardin</a
                >
              </h3>
              <p>
                Coordination et animation de 3 soirées jeux à thème (Couleurs, Nature, Fantastique)
                dans le Bar du Jardin du <a
                  href="https://www.grand-hospice.brussels/"
                  target="_blank">Grand Hospice</a
                >
              </p>
              <p>Bruxelles - Centre ville</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverFonderie.src}');`}
            >
              <p class="bold">03.06.2023 - 17.06.2023</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">
                Apéro x Serious Game à <a href="https://www.lafonderie.be/" target="_blank"
                  >la Fonderie</a
                >
              </h3>
              <p>Coordination et animation jeux de société et jeux géants</p>
              <p>Bruxelles - Molenbeek-Saint-Jean</p>
            </div>
          </li>

          <li class="project-card border-radius-m color-palette-variation-funky-contrast">
            <div
              class="project-card-header"
              style={`background-image: url('${coverJeuTAime.src}');`}
            >
              <p class="bold">2022 -> 2024</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Rencontres Jeu t'aime</h3>
              <p>
                Création d'activités ludiques et animation de jeux en partenariat avec <a
                  href="https://www.yapaka.be/campagne/campagne-jeu-taime"
                  target="_blank">Yapaka</a
                > et <a href="https://ludeo.be/" target="_blank">Ludéo</a>
              </p>
              <p>Maison de la création E. Bockstael - Laeken</p>
            </div>
          </li>

          <li
            class="project-card border-radius-m color-palette-variation-funky-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverJeuParfait.src}');`}
            >
              <p class="bold">30.08.2020</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Le jeu parfait</h3>
              <p>
                Conception, promotion et illustration d'un jeu d'enquête en ligne en partenariat
                avec <a href="/fr/o/be-dete/" target="_blank">Be Detective</a> pour le <a
                  href="/fr/o/ludiris-asbl/"
                  target="_blank">Brussels Games Festival</a
                > (on tour)
              </p>
              <a href="/fr/nos-projets/le-jeu-parfait" class="clickable">En savoir plus</a>
            </div>
          </li>

          <li
            class="project-card border-radius-m color-palette-variation-funky-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverNuitDecouvertes.src}');`}
            >
              <p class="bold">24.08.2018</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">La nuit des découvertes ludiques</h3>
              <p>Coordination et animation pour la nocturne du Brussels Games Festival 2018</p>
              <p>Parc du cinquentenaire - Etterbeek</p>
              <a href="/fr/nos-projets/nuit-decouverte-ludique" class="clickable">En savoir plus</a>
            </div>
          </li>

          <li
            class="project-card border-radius-m color-palette-variation-funky-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverAppCompagnon.src}');`}
            >
              <p class="bold">2018 - 2019</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">App compagnon</h3>
              <p>
                Développement d'une <em>progressive web app</em> pour accompagner les visiteurs du <a
                  href="/fr/o/ludiris-asbl/"
                  target="_blank">Brussels Games Festival</a
                >
              </p>
              <p>En ligne</p>
              <p>
                <a href="https://bgf.wanna-play.be/" target="_blank" class="clickable"
                  >Voir l'application</a
                ><br />
                <small>(liens des images cassés)</small>
              </p>
            </div>
          </li>

          <li
            class="project-card border-radius-m color-palette-variation-funky-contrast breakout-clickable"
          >
            <div
              class="project-card-header"
              style={`background-image: url('${coverTablesOuvertes.src}');`}
            >
              <p class="bold">25.08.2017</p>
            </div>
            <div class="project-card-body box no-border flow">
              <h3 class="h4">Tables ouvertes</h3>
              <p>On teste notre application de gestion de parties pendant la nocturne du BGF.</p>
              <p>Parc du cinquentenaire - Etterbeek</p>
              <a href="/fr/nos-projets/tables-ouvertes">En savoir plus</a>
            </div>
          </li>
        </ul>
      </section>

      <!-- <section>
        <ul class="other-events flow">
          <li>
            <p class="bold">Festival de la bière</p>
            <p>(… - 2025)</p>
            <p>Bruxelles - Woluwe-Saint-Pierre</p>
            <p>Coordination et animation</p>
          </li>
          <li>
            <p class="bold">
              Soirées jeux <a href="https://jardin.brussels/fr">au Bar du Jardin</a>
            </p>
            <p>(Avril, mai, juin 2023)</p>
            <p>Bruxelles - Centre ville</p>
            <p>
              Coordination et animation de 3 soirées jeux à thème (Couleurs, Nature, Fantastique)
              dans le Bar du Jardin du <a href="https://www.grand-hospice.brussels/"
                >Grand Hospice</a
              >
            </p>
          </li>
          <li>
            <p class="bold">
              Apéro x Serious Game à <a href="https://www.lafonderie.be/">la Fonderie</a>
            </p>
            <p>(03.06.2023 - 17.06.2023)</p>
            <p>Bruxelles - Molenbeek-Saint-Jean</p>
            <p>Coordination et animation jeux de société et jeux géants</p>
          </li>

          <li>
            <p class="bold"><a href="https://muntpunt.be/">Muntpunt</a> - All You Can Play</p>
            <p>(16/03/2023 - 20/09/2023 - 12/10/2023)</p>
            <p>Bruxelles - Centre ville</p>
            <p>Soirée jeux de société Muntpunt</p>
            <p>Coordination et animation FR ENG NL</p>
            <p>
              Partenaires: <a href="http://www.catherinebreyer.be/">Catherine Breyer, </a>
              <a href="https://www.sajou.be/auteur/thierry-saeys/">Thierry Saeys, </a>
              <a href="https://www.schmetagames.be/fr/">Schmeta games, </a>
              <a href="https://brusselsmahjongclub.home.blog/">Brussels Mahjong Club, </a>
              <a href="https://www.instagram.com/des_mentiel/">Dés-mentiel, </a>
              <a href="https://www.instagram.com/cabinet_de_letrange/">Cabinet de l'étrange</a>
              Et une soirée spéciale 'Discovery Night SPIEL-Essen'
              </p>
          </li>
          <li>
            <p class="bold">Festival des Idées Bleues</p>
            <p>(01.10.2023)</p>
            <p>Wavre</p>
            <p>
              Aide animation, rangement, photos sur le festival organisé par la boutique <a
                href="https://www.lesideesbleues.be/">Les Idées Bleues</a
              >
            </p>
          </li>
          <li>
            <a href="https://www.belvue.be/cms/web/fr/" class="bold">Belvue</a>
            <p>Coordination, animation</p>
          </li>
          <li>
            <p class="bold">concours évent jeux quartier</p>
          </li>
        </ul>
      </section> -->

      <section class="center text flow">
        <p>Tu veux proposer un partenariat ou organiser un événement ludique avec nous?</p>
        <p>
          <a href="/fr/contact/" class="reset button padding-x-h5 padding-y-h7">Contacte-nous</a>
        </p>
      </section>
    </main>
  </BasicPage>
</SkeletonPage>

<style>
  .project-card {
    transition: all 0.3s ease;
    isolation: isolate;
  }

  .project-card:hover .project-card-header::after {
    opacity: 0.2;
  }
  .project-card:hover .project-card-header p {
    background-color: transparent;
    background-size: 100% 100%;
  }

  .project-card-header {
    width: 100%;
    height: 15rem;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    backdrop-filter: grayscale(1);

    & p {
      display: block;
      width: 100%;
      padding-inline: var(--size-p);
      padding-block: 0.5em;
      position: relative;
      z-index: 3;
      background-image: linear-gradient(var(--color-bg), var(--color-bg));
      background-repeat: no-repeat;
      background-size: 100% 0%;
      background-position: bottom;

      transition:
        background-size 0.3s ease-out,
        color 0.3s;
    }
  }

  .project-card-header::after {
    content: '';
    position: absolute;
    inset: 0;
    mix-blend-mode: lighten;
    background-color: var(--color-secondary);

    opacity: 0.9;
    transition: opacity 0.3s ease;
    z-index: 1;
  }
  .project-card-header::before {
    content: '';
    position: absolute;
    inset: 0;
    mix-blend-mode: darken;
    background-color: var(--color-bg);

    opacity: 1;
    transition: opacity 0.3s ease;
    z-index: 1;
  }

  .project-card:hover .project-card-header::before,
  .project-card:hover .project-card-header::after {
    opacity: 0;
  }

  .project-card-body a.button {
    width: fit-content;
    text-align: center;
    padding-inline: var(--size-p);
    text-decoration: none;
  }

  .projects-list-wanna-play .project-card-header::after {
    background-color: var(--color-bg);
  }
  .projects-list-wanna-play .project-card-header::before {
    background-color: var(--color-secondary);
  }
</style>
