---
import path from 'node:path'
// import Fragment from 'astro/components'
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO, MtObf } from '@components'
import { Image } from 'astro:assets'
import cover from '@assets/images/covers/devenir-pro.webp'

const email = import.meta.env.CONTACT_EMAIL

const pageUrl = new URL(Astro.url.pathname, Astro.site)
const canonicalUrl = (pageUrl.href + '/').replace(/[\/]+$/, '/')
---

<SkeletonPage lang="fr">
  <SEO
    slot="head"
    ogType="website"
    title="Contact"
    description="Tu as une question? Tu veux ajouter ton organisation sur le site? C'est par ici."
    {canonicalUrl}
    socialImage="/assets/images/LOGO-1024px.png"
    ogVideo={false}
    twitterCard="summary"
  />

  <BasicPage lang={{ code: 'fr' }}>
    <main class="max center flow v--flow-space:1em" style="margin-bottom: var(--size-h1);">
      <div>
        <Image
          src={cover}
          alt=""
          widths={[240, 540, 720, 1200, cover.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${cover.width}px`}
        />
      </div>
      <h1 class="center text">Contacte-nous</h1>

      <p class="h3 center text">
        <span>par e-mail à</span>
        <MtObf {email} />
      </p>
      <div class="center text flow" style="margin-top: var(--size-h1);">
        <p>Retrouvez-nous aussi sur:</p>
        <ul class="cluster list reset justify-center">
          <li>
            <a
              href="https://www.facebook.com/WannaPlayBE/"
              target="_blank"
              rel="noopener noreferrer"
              >Facebook
            </a>
          </li>
          <li>
            <a
              href="https://www.instagram.com/wannaplay_be/"
              target="_blank"
              rel="noopener noreferrer"
              >Instagram
            </a>
          </li>
          <li>
            <a
              href="https://www.youtube.com/channel/UCiDueliYGH4b3RMG0AYE5EQ/featured"
              target="_blank"
              rel="noopener noreferrer"
              >Youtube
            </a>
          </li>
          <li>
            <a
              href="https://open.spotify.com/user/1149328236/playlist/3GVw45aSu4KAai7C5lNQHN?si=RFN2zR1bQCqyT_oQe89CXQ"
              target="_blank"
              rel="noopener noreferrer"
              >Spotify
            </a>
          </li>
          <li>
            <a
              href="https://www.redbubble.com/fr/people/Wanna-Play-asbl/explore"
              target="_blank"
              rel="noopener noreferrer"
              >Redbubble
            </a>
          </li>
        </ul>
        <p>En live lors d'événements ludiques belges 😉</p>
      </div>
    </main>
  </BasicPage>
</SkeletonPage>

<style>
  img {
    /* width: var(--measure-h3); */
    max-width: 100%;
    height: auto;
  }
</style>
