---
import logo from '@assets/images/partners/logo-au-fil-des-mot.webp'

const { title, text, url, image, color1 = '#2f53a2', color2 = '#ffffff' } = Astro.props
---

<li
  class="ad-event-list box no-border border-radius-s color-palette-main cluster breakout-clickable"
  style={`--color-events-1: ${color1}; --color-events-2: ${color2};`}
>
  <div class="flow content">
    <!-- <p>Discover our latest game</p> -->
    <p class="h3">{title}</p>
    <p class="truncate-lines">{text}</p>
    <a href={url} target="_blank" class="button">Aller voir</a>
  </div>
  <div class="action">
    <img src={image.src} alt="" />
  </div>
</li>

<style>
  .ad-event-list {
    min-height: 10rem;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    background: linear-gradient(220deg, var(--color-events-2) 33%, var(--color-events-1) 10%);
  }
  @media (min-width: 53rem) {
    .ad-event-list {
      grid-column: 2 / -1;
      background: linear-gradient(32deg, var(--color-events-1) 65%, var(--color-events-2) 65%);
    }
  }
  @media (min-width: 65rem) {
    .ad-event-list {
      background: linear-gradient(46deg, var(--color-events-1) 71%, var(--color-events-2) 62%);
    }
  }

  .ad-event-list .content {
    flex-basis: 15rem;
    flex-grow: 1;
    color: var(--color-events-2);
  }

  .ad-event-list .action {
    width: 12rem;
    margin-inline: auto;
  }
  .ad-event-list a.button {
    display: block;
    width: fit-content;
    text-decoration: none;
    padding-inline: 0.5em;
    border-radius: var(--border-radius-s);
    background-color: var(--color-events-1);
    color: var(--color-events-2);
    border: 2px solid var(--color-events-2);
  }
  .ad-event-list a.button:hover {
    background-color: var(--color-events-2);
    color: var(--color-events-1);
  }
</style>
