---
import Paragraph from '@partials/styleguide/Paragraph.astro'

const { style = '', i = 1, palette = i, variation = 'classic' } = Astro.props
---

<div data-c-p={palette} data-c-p-var={variation} class={`box stack`} {style}>
  <p class="h3">Palette {palette} - Variation {variation}</p>
  <Paragraph />
  <p>Don't forget to select some text to test colors</p>
  <code class="code-block">
    <pre>      <p class="h2">An h2 fox jumps over the fence or whatever</p><p class="h3">An h3 fox jumps over the fence or whatever</p><p class="h4">An h4 fox jumps over the fence or whatever</p>
    </pre>
  </code>
  <blockquote>
    Alway pay attention to the coupling you are introducing in your code base when using specific
    tools. Ask yourself: "if I want to change this piece, how easy will it be?"
  </blockquote>
  <div class="cluster overflow">
    <ul class="reset">
      <li>
        <button>Magnificent</button>
      </li>
      <li>
        <button data-c-p-var="contrast">Wondeful</button>
      </li>
      <li>
        <button data-c-p-var="funky">Marvelous</button>
      </li>
      <li>
        <button data-c-p-var="funky-contrast">Glorious</button>
      </li>
    </ul>
  </div>
</div>
