---
import { IO, Img, ImgDirectus } from '@components'
import Ad from '@components/ads/Ad.astro'
import placeholderWPlayCircleBlue from '@images/WannaPlay-button-circle-blue.png'
import { getOrganizations } from '../store/dataService.js'
import { start as startDirectus } from '../services/directus.js'
import badge from '@assets/images/badge.png'

// Props passed from the MDX page
const { type, areaCode, lang = { code: 'fr' }, organizations, ad = false } = Astro.props

// // Start Directus (login/refresh) before using data
await startDirectus()

// Get all organizations from the database
const allOrganizations = organizations ?? (await getOrganizations())

// Holds filtered organizations (by type and area); make sure MDX page always provides the props. (type: association, bar, escape_room, festival, ...)
const filteredOrganizations = (allOrganizations ?? [])
  .filter(org => org.boardgame_related)
  .filter(org => !type || org.typesTranslated?.some(t => t?.code_name === type))
  .filter(org => !areaCode || org.location?.area?.code_name === areaCode)
---

<section class="organizations-list">
  {
    !filteredOrganizations.length && (
      <p class="center">Aucune organisation trouvée pour ces critères pour le moment.</p>
    )
  }

  {
    filteredOrganizations.length > 0 && (
      <IO
        ul
        $skipNoInner
        class="organizations-list grid-fluid reset"
        style="--width-column-min: var(--width-col-6); --gap-grid: var(--size-p);"
      >
        {ad && <Ad adType="organization" />}
        {filteredOrganizations.map((organization, index) => {
          const {
            name,
            path,
            logo,
            typesTranslated,
            location,
            servicesTranslated,
            admin_categories,
          } = organization
          const isPartner =
            admin_categories?.includes('partner') || admin_categories?.includes('badge_default')

          // const nameIsLong = name.length > 30

          return (
            <li
              class={`card-organization box no-border flow gap-h4 border-radius-s breakout-clickable ${isPartner ? 'badge' : ''}`}
              style={`--badge-url: url(${badge.src});`}
              data-area={location?.area.code_name}
              data-types={typesTranslated?.map(t => t.code_name)}
              data-services={servicesTranslated?.map(t => t.code_name)}
            >
              {isPartner && (
                <div class="badge-hover" title={`${name} est partenaire de Wannaplay`} />
              )}
              <div
                class="center intrinsic"
                style="justify-content: center; height: var(--width-col-10); overflow: hidden;"
              >
                {logo?.src ? (
                  <ImgDirectus
                    image={logo}
                    src={logo?.src}
                    alt={name}
                    loading="lazy"
                    class=""
                    style="width: 120px; max-width: 100%; height: auto; max-height: 120px; object-fit: contain;"
                    width="120"
                    height="120"
                    fit="inside"
                    quality="99"
                  />
                ) : (
                  <Img
                    src={placeholderWPlayCircleBlue}
                    alt="logo"
                    loading="lazy"
                    class=""
                    style="width: 120px; max-width: 100%; height: auto; max-height: 120px; object-fit: contain;"
                    width="120"
                    height="120"
                  />
                )}
              </div>
              <h3 class="p">
                {/* <h3 class={`${nameIsLong ? ' p' : ' h4'}`}> */}
                <a href={`/${path}/`} class={`reset clickable`}>
                  {name}
                </a>
              </h3>
              <ul class="cluster gap-h8 reset" style="margin-top: var(--size-h4);">
                {typesTranslated?.map(type => {
                  const currentPalette = `color-palette-${type.colorPalette || type.code_name}`
                  return (
                    <li
                      class={`box no-border padding-x-h8 padding-y-h9 ${currentPalette} color-palette-variation-contrast border-radius-s`}
                    >
                      {type.translations.find(t => t.language_code === lang.code).default_label}
                    </li>
                  )
                })}
              </ul>
            </li>
          )
        })}
      </IO>
    )
  }
</section>

<style>
  .badge {
    position: relative;
    overflow: visible !important;
    border: 3px solid var(--color-blue) !important;
  }
  .badge::after {
    content: '';
    position: absolute;
    top: -12px;
    right: -16px;
    width: 46px;
    aspect-ratio: 1;
    background-image: var(--badge-url);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: 10;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  }
  .badge-hover {
    position: absolute;
    top: -12px;
    right: -16px;
    width: 46px;
    aspect-ratio: 1;
    z-index: 10;
  }
</style>
