---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO, IO, ImgDirectus, Img } from '@components'
import path from 'node:path'
const pageUrl = new URL(Astro.url.pathname, Astro.site)
const canonicalUrl = (pageUrl.href + '/').replace(/[\/]+$/, '/')
const lang = Astro.props?.lang || pageUrl.pathname.toString().split('/')[1] || 'fr'
const imagePath = '/assets/images/LOGO-1024px.png'

const proPages = Object.values(import.meta.glob('./*.mdx', { eager: true }))
---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="website"
    title=""
    description=""
    {canonicalUrl}
    socialImage={imagePath}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center max">
      <ul>
        {
          proPages.map(page => (
            <li>
              <a href={page.url}>{page.url}</a>
            </li>
          ))
        }
      </ul>
    </main>
  </BasicPage>
</SkeletonPage>
