---
import { SkeletonPage, BasicPage } from "@layouts"
import { SEO, IO, ImgDirectus } from "@components"

const { lang, articles } = Astro.props || {}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="website"
    title="Articles"
    description="Viens découvrir ou redécouvrir le monde ludique au travers des plumes de nos auteurs"
    canonicalUrl={canonicalURL.href}
    socialImage="/assets/images/LOGO-1024px.png"
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center max">
      <div class="box no-border stack gap-down-h1">
        <h1 class="center text">Articles</h1>
        <div
          class="grid gap-down-h4"
          style="--width-column: var(--width-col-4);"
        >
          <div>
            {articles.map((a) => {
              const headerT = a?.header?.[0].translations.find(
                ({ languages_code }) => languages_code === lang.code,
              )
              return (
                <article
                  class="card-article
                                    breakout-clickable
                                    box no-border stack gap-down-h2 split-after-2
                                    color-palette-variation-contrast
                                    border-radius-m"
                >
                  <IO div $skipNoInner>
                    <ImgDirectus
                      $skip={!headerT?.featured_image?.src}
                      src={headerT?.featured_image?.src}
                      alt={headerT?.title}
                      loading="lazy"
                      class="featured-image"
                      width="590"
                      height="400"
                      fit="cover"
                      quality="99"
                    />
                  </IO>
                  <h2 class="h3">
                    <a href={`/${a.path}`} class="reset clickable">
                      {headerT?.title}
                    </a>
                  </h2>
                  <IO div $skipNoInner class="stack gap-down-h7">
                    <IO div $skipNoInner class="cluster">
                      <IO ul $skipNoInner class="reset">
                        {a?.authors?.map((author) => (
                          <IO
                            li
                            $skipNoInner
                            class="stack horizontal gap-down-h7"
                          >
                            <IO
                              div
                              $skip={!author?.avatar?.src}
                              class="box no-padding border-radius-circle border-width-1"
                            >
                              <ImgDirectus
                                $skip={!author?.avatar?.src}
                                src={author?.avatar?.src}
                                alt={author?.display_name}
                                loading="lazy"
                                class="border-radius-circle"
                                style="width: 32px; max-height: 32px; max-width: 100%; height: 100%;"
                                width="64"
                                height="64"
                                fit="cover"
                                quality="100"
                              />
                            </IO>
                            <IO p $skipNoInner class="author-name">
                              {author?.display_name}
                            </IO>
                          </IO>
                        ))}
                      </IO>
                    </IO>
                    <hr />
                    <IO p $skip={!a?.date_published?.fr?.date}>
                      Publié le <strong>{a?.date_published?.fr?.date}</strong>
                    </IO>
                  </IO>
                </article>
              )
            })}
          </div>
        </div>
      </div>
    </main>
  </BasicPage>
</SkeletonPage>
