---
import Debug from 'astro/debug';
import { SkeletonPage, BasicPage } from '@layouts'
// import { Div, P } from '@elements'
import { SEO, IO, Md, ImgDirectus } from '@components'
import { BlockImgLeft, BlockImgLeftHeading, BlockStack } from '@layouts'
import { imageDirectusSrc } from '@utils'
// import { Markdown } from 'astro/components';
// import { Icon } from 'astro-icon'

// import TestMd from '@components/TestMd.astro'

const {lang, article: {
  code_name,
  page_data,
  authors,
  date_published,
  date_modified,
  header: headerList,
  main,
  footer
}} = Astro.props;

const header = headerList?.[0]
const headerT = header.translations.find(({ languages_code }) => languages_code === lang.code )
const { title, text, featured_image } = headerT || {}

// const { description, opening_hours_remark } = translations?.find(t => t.languages_code === languages_code) || {}

const { width, height } = featured_image || {}
const headerLayout = width > 1.5 * height ? 'stack' : 'sideImage'

const srcSocial = imageDirectusSrc({ src: featured_image?.src, width: '1200', fit: 'cover', quality: '99' })

---

<!-- <TestMd /> -->
<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="article"
    title={title}
    description={text}
    canonicalUrl={Astro.canonicalURL.href}
    socialImage={srcSocial}
    ogVideo={false}
    twitterCard="summary"
    meta={[
      {property: 'article:published_time', content: date_published?.dateTimeRaw},
      {property: 'article:modified_time', content: date_modified?.dateTimeRaw},
      // {property: 'article:expiration_time', content: ''},
      {property: 'article:author', content: authors?.[0]?.display_name},
      {property: 'article:section', content: 'Board Game'},
      // {property: 'article:tag', content: ''},
    ].filter(({ content }) => content)}
  />
  <BasicPage {lang}>
    <main class="center max stack gap-down-h1">
      <!-- <BlockImgLeftHeading block={header} {lang} tag={'header'} /> -->

      <!-- HEADER -->
      {
        headerLayout === 'sideImage' ? (
          <header class="size-context-narrow width-max center">
            <IO div $skipNoInner class="with-sidebar box no-border gap-down-h4" style="--side-width: 22rem; --content-min: 50%;">
              <IO div $skipNoInner>
                <IO div $skipNoInner>
                  <ImgDirectus
                    $skip={!headerT?.featured_image?.src}
                    src={headerT?.featured_image?.src}
                    alt={headerT.title}
                    loading="lazy"
                    class=""
                    style="max-width: 22rem; max-height: 22rem; width: 100%; height: auto;"
                    {width}
                    {height}
                    fit="contain"
                    quality="90" />
                </IO>
                <IO div $skipNoInner class="stack split-after-1 gap-down-h6">
                  <h1>{headerT.title}</h1>
                  <IO p $skipNoInner>{headerT.subtitle}</IO>
                  <IO div $skipNoInner class="cluster">
                    <IO ul $skipNoInner class="reset">
                      {authors?.map(author => (
                        <IO li $skipNoInner class="stack horizontal gap-down-h7">
                          <IO div $skip={!author?.avatar?.src} class="box no-padding border-radius-circle border-width-1">
                            <!-- <IO img $skip={author?.avatar?.src} src={author?.avatar?.src}
                              class="border-radius-circle" style="max-height: 2em;" /> -->
                            <ImgDirectus
                              $skip={!author?.avatar?.src}
                              src={author?.avatar?.src}
                              alt={author?.display_name}
                              loading="lazy"
                              class="border-radius-circle"
                              style="max-width: 32px; max-height: 32px; width: 100%; height: 100%;"
                              width="32"
                              height="32"
                              fit="cover"
                              quality="90" />
                          </IO>
                          <IO p $skipNoInner>{author?.display_name}</IO>
                        </IO>
                      ))}
                    </IO>
                  </IO>
                  <IO p $skip={!date_published?.fr?.date}>Publié le <strong>{date_published?.fr?.date}</strong></IO>
                </IO>
              </IO>
            </IO>

            <IO div $skipNoInner class={`box no-border center | h3
            `}>
              <Md $skipNoInner content={headerT?.text} />
            </IO>
          </header>
        ) : (
          <header class="size-context-narrow box no-border center intrinsic stack">
            <h1>{headerT.title}</h1>
            <IO p $skipNoInner>{headerT.subtitle}</IO>
            <IO div $skipNoInner class="cluster">
              <IO div $skipNoInner>
                <IO div $skipNoInner class="cluster">
                  <IO ul $skipNoInner class="reset">
                    {authors.map(author => (
                      <IO li $skipNoInner class="stack horizontal gap-down-h7">
                        <IO div $skip={!author?.avatar?.src} class="box no-padding border-radius-circle border-width-1">
                          <ImgDirectus
                            $skip={!author?.avatar?.src}
                            src={author?.avatar?.src}
                            alt={author?.display_name}
                            loading="lazy"
                            class="border-radius-circle"
                            style="max-width: 32px; max-height: 32px; width: 100%; height: 100%;"
                            width="32"
                            height="32"
                            fit="cover"
                            quality="90" />
                        </IO>
                        <IO p $skipNoInner>{author?.display_name}</IO>
                      </IO>
                    ))}
                  </IO>
                </IO>
                <IO p $skip={!date_published?.fr?.date}><strong>{date_published?.fr?.date}</strong></IO>
              </IO>
            </IO>
            
            <IO div $skipNoInner>
              <ImgDirectus
                $skip={!headerT?.featured_image?.src}
                src={headerT?.featured_image?.src}
                alt={headerT.title}
                loading="lazy"
                class=""
                style="max-width: 100%; height: auto;"
                {width}
                {height}
                fit="contain"
                quality="90" />
            </IO>

            <IO div $skipNoInner class="box no-border center | h3">
                <strong><Md $skipNoInner content={headerT?.text} /></strong>
            </IO>
          </header>
        )
      }
      

      <IO div $skip={!main?.[0]?.id} class="box no-border center stack gap-down-h2">
        {main.map((block, i) => {
          const blockT = block.translations.find(({ languages_code }) => languages_code === lang.code )
          return !blockT.featured_image ? (
            <BlockStack {block} {lang} />
          ) : (
            <BlockImgLeft {block} {lang} />
          )
        })}
      </IO>

      <IO div $skip={!footer?.[0]?.id} class="box no-border center stack gap-down-h3">
        {footer.map(block => (
          <BlockStack {block} {lang} />
        ))}
      </IO>

    </main>
  </BasicPage>
</SkeletonPage>
<!-- <Debug {main} /> -->
