---
import path from 'node:path'
import { SkeletonPage, BasicPage } from '@layouts'
import { Markdown } from '@components'
import { Icon } from 'astro-icon/components'
import { SEO, IO, ImgDirectus, Img } from '@components'
import { imageDirectusSrc, getImage } from '@utils'

const {
  lang,
  event: {
    status,
    name,
    location,
    cover_image,
    recurring,
    schedule,
    scheduleFormatted,
    organizers,
    translations,
    // translations.languages_code,
    // translations.fallback_language,
    // translations.highlighted_details,
    // translations.description,
    // translations.main_url,
    // translations.facebook_event_url,
    // translations.other_links,
    servicesTranslated,
    amenities_translated,
    event_instances,
    isRecurring,
    time_start,
    time_end,
    isSameDay,
    moreThan24h,
    links,
    recurrence,
    occurrences,
    canonical,
    isCanonical,
  },
} = Astro.props

const { day, monthLong, year } = time_start?.[lang.code] || {}
const { description, highlighted_details, rich_text_content } =
  translations?.find(({ languages_code }) => languages_code === lang.code) || {}
const presentation =
  location?.addressLocality &&
  location?.area?.name?.fr &&
  `Événement jeux à ${location.addressLocality}` +
    (location.addressLocality !== location?.area?.name?.fr
      ? ` dans la ${location?.area?.code_name === 'brussels' ? 'région' : 'province'} de ${location?.area?.name?.fr}`
      : '')
const srcCover = imageDirectusSrc({
  src: cover_image?.src,
  width: '1300',
  fit: 'cover',
  quality: '50',
})
const srcSocial = imageDirectusSrc({
  src: cover_image?.src,
  width: '1200',
  height: '630',
  fit: 'cover',
  quality: '99',
})
const startLong = day && monthLong && year && `${day} ${monthLong} ${year}`
const metaTitle = [startLong, name].filter(z => z).join(' - ')
const metaDescription = [presentation, startLong].filter(z => z).join(' le ')
const today = new Date().toISOString().split('T')[0]
const d = new Date()

const currentURL = new URL(Astro.url.pathname, Astro.site)
// Rewrite canonical URL to the EventSeries page if available
const canonicalUrl = (
  canonical?.path ? currentURL.origin + path.join('/', canonical?.path, '/') : currentURL.href + '/'
).replace(/[\/]+$/, '/')
const futureOccurrences = occurrences?.filter(event => event.time_start.dateStr >= today) || []
// const nextOccurrence = occurrences?.find(event => event.time_start.dateStr >= today)

let jsonldType
const locationName = location?.name
const imageLd = cover_image ? await getImage({ ...cover_image }) : null

if (isRecurring && isCanonical) {
  jsonldType = 'EventSeries'
} else {
  jsonldType = 'Event'
}

const jsonLd = {
  '@context': 'https://schema.org',
  '@type': jsonldType,
  url: currentURL.href,
  '@id': currentURL.href + '#' + jsonldType,
  name,
  description: presentation,
  // TODO: same as Organization
  ...(imageLd?.src && { image: imageLd.src }),
  // TODO: Array here
  organizer: organizers.map(o => {
    const org = {
      '@type': o.jsonldType,
      '@id': new URL(o?.path, Astro.site).href + '#Organization',
      name: o?.name,
      url: new URL(o?.path, Astro.site).href,
    }
    return org
  }),
  location: {
    '@type': 'Place',
    ...(locationName ? { name: locationName } : {}),
    address: {
      '@type': 'PostalAddress',
      ...(location.streetAddress ? { streetAddress: location.streetAddress } : {}),
      ...(location.addressLocality ? { addressLocality: location.addressLocality } : {}),
      ...(location.postalCode ? { postalCode: location.postalCode } : {}),
      addressCountry: 'BE',
    },
  },
}

// NOTE: Should we implement EventSeries for multi-days events?
if (jsonldType === 'EventSeries') {
  jsonLd.eventSchedule = schedule
    .map(s => {
      const freqFirstLetter = s.frequency && s.frequency[0].toUpperCase()
      const frequencyCode = freqFirstLetter && 'P' + (s.interval || 1) + freqFirstLetter
      return frequencyCode
        ? {
            '@type': 'Schedule',
            // startDate: occ?.time_start?.dateTimeRaw
            startDate: s?.startDate,
            endDate: s?.endDate,
            repeatFrequency: frequencyCode,
            byDay: s?.byDay,
            startTime: s?.startTime,
            endTime: s?.endTime,
            scheduleTimezone: 'Europe/Belgium',
            ...(s.exceptDate ? { exceptDate: s.exceptDate.map(e => e.date) } : {}),
          }
        : null
    })
    .filter(Boolean)

  if (jsonLd.eventSchedule.length === 0) {
    delete jsonLd.eventSchedule
  }

  // subEvent
  if (futureOccurrences.length > 0) {
    jsonLd.subEvent = futureOccurrences.slice(0, 10).map(occ => {
      const subEvent = {
        '@type': 'Event',
        // TODO: Full URL, not path
        '@id': new URL(occ?.path, Astro.site).href + '#Event',
        name,
        // TODO: Full URL, not path
        url: new URL(occ?.path, Astro.site).href,
        startDate: occ?.time_start?.dateTimeRaw,
        ...(occ?.time_end?.dateTimeRaw && { endDate: occ?.time_end.dateTimeRaw }),
        eventAttendanceMode: 'https://schema.org/OfflineEventAttendanceMode',
        eventStatus: 'https://schema.org/EventScheduled',
        location: {
          '@type': 'Place',
          // TODO: same as Organization
          ...(locationName ? { name: locationName } : {}),
          // TODO: same as Organization
          address: {
            '@type': 'PostalAddress',
            ...(location.streetAddress ? { streetAddress: location.streetAddress } : {}),
            ...(location.addressLocality ? { addressLocality: location.addressLocality } : {}),
            ...(location.postalCode ? { postalCode: location.postalCode } : {}),
            addressCountry: 'BE',
          },
        },
      }
      return subEvent
    })
  }
} else {
  jsonLd.startDate = time_start?.dateTimeRaw
  if (time_end) {
    jsonLd.endDate = time_end?.dateTimeRaw || time_start?.dateTimeRaw
  }
  if (isRecurring) {
    jsonLd.superEvent = {
      '@type': 'EventSeries',
      '@id': canonicalUrl + '#EventSeries',
      url: canonicalUrl,
      name,
    }
  } else {
    // ???
  }
}
---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="website"
    title={metaTitle}
    description={metaDescription || description}
    {canonicalUrl}
    socialImage={srcSocial || '/assets/images/LOGO-1024px.png'}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="max" style="margin-top: 0;">
      <header>
        <hgroup
          class="center flow intrinsic text box no-border color-palette-trans padding-y-h-1 background-overlay"
          style={srcCover
            ? `background-image: url("${srcCover}");`
            : 'background-image: url("/assets/images/WannaPlay-banner-paper.jpeg");'}
        >
          <h1 class="" set:html={name} />
          <div class="flow">
            {presentation && <p class="h4">{presentation}</p>}
            {
              location?.string && (
                <p>
                  <a href={location.gMapLink} target="_blank" rel="noopener noreferrer nofollow">
                    {location.fullString}
                  </a>
                </p>
              )
            }
          </div>
          {
            time_start?.fr?.time && (
              <p
                set:html={
                  !moreThan24h
                    ? `<strong>${time_start?.fr?.date}${time_end?.fr?.time ? ` de ${time_start.fr?.time}` : ''} à ${time_end?.fr?.time || time_start?.fr?.time}</strong>`
                    : `De <strong>${time_start?.fr?.date} - ${time_start.fr?.time}</strong> à <strong>${time_end?.fr?.date} - ${time_end.fr?.time}</strong>`
                }
                class="
                box no-border width-fit-content
                color-palette-main color-palette-variation-funky-contrast
                size-p padding-h7 padding-y-h8
                border-radius-l
              "
              />
            )
          }
        </hgroup>
      </header>
      {
        organizers?.[0] && (
          <div
            class="box no-border center intrinsic
            color-palette-main
            border-radius-s
            "
            style="
            max-width: 90%;
            width: fit-content;
            margin-top: calc(var(--size-h3) * -1);
            margin-bottom: var(--size-h3);
            box-shadow: 0 0px 6px rgb(0 0 0 / 30%);
            "
          >
            <p class="size-h4">Organisé par</p>
            <ul class="box no-border center max-width-measure-p cluster reset">
              {organizers.map(({ name, boardgame_related, links, path, logo }) => (
                <li>
                  <a
                    href={boardgame_related ? `/${path}/` : links?.[0]?.url}
                    target={boardgame_related ? '_self' : '_blank'}
                    rel={boardgame_related ? 'self' : 'noopener noreferrer nofollow'}
                    class="box no-border center intrinsic gap-h8"
                  >
                    {logo?.src && (
                      <ImgDirectus
                        image={logo}
                        src={logo?.src}
                        alt={name}
                        loading="lazy"
                        class=""
                        style="width: 100px; max-width: 100%; height: auto; max-height:100;"
                        width="100"
                        height="100"
                        fit="inside"
                        quality="99"
                      />
                    )}
                    {/* <Img
                              src="/src/assets/images/WannaPlay-button-circle-blue.png"
                              alt="logo"
                              loading="lazy"
                              class=""
                              style="max-width: 100%; height: auto;"
                              width="100"
                              height="100" /> */}
                    <span class="size-p">{name}</span>
                  </a>
                </li>
              ))}
            </ul>
          </div>
        )
      }

      <!-- {(opening_hours_strings?.[0] || opening_hours_remark) && <div class="
        box no-border
        color-palette-variation-funky-contrast
      ">
        <div class="center max-width-measure-p">
          <h2>Horaires</h2>
          {
            opening_hours_strings?.[0] && (
              <div>
                  {opening_hours_strings.map(str => (
                    <p set:html={str} />
                  ))}
              </div>
            )
          }
          {
            opening_hours_remark && (
              <div>
                  <Markdown content={opening_hours_remark} />
              </div>
            )
          }
        </div>
      </div>} -->
      {
        (servicesTranslated?.[0] || amenities_translated?.[0]) && (
          <ul class="box no-border center max-width-measure-p cluster padding-h6 gap-p">
            <>
              {servicesTranslated?.map(service => (
                <li
                  class="
                  box no-border padding-x-h7 padding-y-h8
                  color-palette-variation-contrast
                  border-radius-s
                "
                >
                  {service.translations.find(t => t.language_code === lang.code).default_label}
                </li>
              ))}

              {amenities_translated?.map(({ [lang.code]: code }) => (
                <li
                  class="
                  box no-border padding-x-h7 padding-y-h8
                  color-palette-variation-funky-contrast
                  border-radius-s
                "
                >
                  {code}
                </li>
              ))}
            </>
          </ul>
        )
      }
      <!-- {amenities_translated?.[0] && <div class="box no-border cluster gap-h6">
        <ul class="reset">
            {amenities_translated?.map(({ [lang.code]: code }) => (
              <li>{code}</li>
            ))}
        </ul>
      </div>} -->

      {
        (rich_text_content && (
          <div
            class="box no-border center max-width-measure-p flow gap-p"
            set:html={rich_text_content}
          />
        )) || [
          highlighted_details && (
            <div class="box no-border center max-width-measure-p flow gap-p">
              <h2>Infos importantes</h2>
              <Markdown content={highlighted_details} class="flow" style="--gap:1em" />
            </div>
          ),
          description && (
            <div class="box no-border center max-width-measure-p flow gap-p">
              <h2>Description</h2>
              <Markdown content={description} class="flow" style="--gap:1em" />
            </div>
          ),
        ]
      }

      {
        links?.[0] && (
          <ul class="cluster reset justify-center">
            {links.map(({ name, url, iconName }) => {
              const followPolicy = name?.code_name === 'website' ? 'dofollow' : 'nofollow'

              return (
                <li>
                  <a
                    href={url}
                    target="_blank"
                    rel={`noopener noreferrer ${followPolicy}`}
                    class="
                  box no-border center intrinsic text-center gap-y-[var(--size-h8)]
                "
                  >
                    <Icon name={iconName} size="1em" class="size-h2" />
                    <div class="size-p">{name.fr}</div>
                  </a>
                </li>
              )
            })}
          </ul>
        )
      }

      {
        occurrences && (
          <div class=" center max-width-measure-p flow">
            <h2 class="center text">Toutes les dates</h2>
            <ul class="grid-fluid gap-p list reset" style="--width-column-min: var(--width-col-9);">
              {occurrences?.map(event => {
                const { time_start } = event

                const isPast = time_start.dateStr < today
                const href = isPast ? `/${canonical.path}/` : `/${event.path}/`

                return (
                  <li
                    class="card-event breakout-clickable box no-border border-radius-s color-palette-variation-contrast"
                    style={isPast ? 'opacity: 0.5;' : ''}
                  >
                    <a href={href} class="name reset block">
                      <time
                        datetime={time_start.dateTimeRaw}
                        class="timestart center intrinsic gap-h8"
                        style="line-height: 1;"
                      >
                        <span class="size-h2">{time_start?.fr?.day}</span>
                        <span class="size-h3">{time_start?.fr?.monthShort}</span>
                        <span class="size-h3">{time_start?.fr?.year}</span>
                      </time>
                    </a>
                  </li>
                )
              })}
            </ul>
          </div>
        )
      }
    </main>
    <script is:inline type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  </BasicPage>
</SkeletonPage>

<style>
  section {
    padding-block: var(--size-h2);
  }

  div.flow > * {
    --flow-space: var(--gap-h3);
  }
</style>
