---
import { createPath, imageDirectusSrc } from '@utils'
import { SkeletonPage, BasicPage } from '@layouts'
import { BelgiumMap } from '@partials'
import { SEO, IO, ImgDirectus, Img } from '@components'
import { CalendarIcon, OrgIcon, BxlIcon } from '@partials/icons'

import placeholderWPlayCircleBlue from '@images/WannaPlay-button-circle-blue.png'
import paperMapBlue from '@images/paper-map/paper-map-belgium-blue.jpg'
import paperMapTeal from '@images/paper-map/paper-map-belgium-teal.jpg'
import animationCoord from '@images/photos/coordination-événements-Oriane-Delavallée.jpg'
import animationNetwork from '@images/photos/réseau-animateurs.jpg'
import volunteersFestival from '@images/photos/photo-bénévoles-Orian-Delavallée.jpg'

// import logo from '@images/LOGO-1024px.png?w=600'

// import gagBack from "@images/photos-Festival-2022/gag_back.jpg"
// import hoplaFlorent from "@images/photos-Festival-2022/hopla-florent.jpg"
// import kidsStoryTime from "@images/photos-Festival-2022/kids-story-time.jpg"
// import kids from "@images/photos-Festival-2022/kids.jpg"
// import londonPierre from "@images/photos-Festival-2022/london-pierre.jpg"
// import moonArea from "@images/photos-Festival-2022/moon-area.jpg"
// import speedGamingYves from "@images/photos-Festival-2022/speed-gaming-yves.jpg"

const { lang, areas, articles: as, events } = Astro.props || {}

// const festivalPics = [
//   gagBack,
//   hoplaFlorent,
//   kidsStoryTime,
//   kids,
//   londonPierre,
//   moonArea,
//   speedGamingYves,
// ]
// const articles = as.slice(0, 3)
const festivals = events
  .filter(e => e.typesTranslated.find(t => t.code_name === 'festival'))
  .slice(0, 3)
const wPlayEvents = events
  .filter(e => e.organizers?.find(o => o.slug === 'wanna-play-asbl'))
  .slice(0, 3)

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const description =
  "Wanna Play a pour mission de connecter les joueurs en live et en ligne. Toute l'info du jeu de société en Belgique."
const imagePath = '/assets/images/LOGO-1024px.png'

const jsonLd = {
  '@context': 'https://schema.org',
  '@type': 'NGO',
  url: 'https://www.wanna-play.be/',
  name: 'Wanna Play',
  legalName: 'Wanna Play ASBL',
  description,
  logo: imagePath,
  image: imagePath,
  location: {
    '@type': 'PostalAddress',
    streetAddress: 'Avenue Armand Huysmans 47 Bte 2',
    postalCode: '1050',
    addressLocality: 'Ixelles',
    addressCountry: 'BE',
  },
  areaServed: 'Belgium',
  sameAs: [
    'https://www.facebook.com/WannaPlayBE/',
    'https://www.youtube.com/@WannaPlayBE',
    'https://www.instagram.com/wannaplay_be/',
  ],
  knowsAbout: 'board games',
}
---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="website"
    title="Connecte les joueurs"
    {description}
    canonicalUrl={canonicalURL.href + '/'}
    socialImage={imagePath}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center max">
      <div class="stack gap-down-h0 box no-border">
        <hgroup class="max-width-measure-h2 stack center intrinsic gap-down-h-1">
          <h1>
            <!-- <img src="/assets/images/LOGO-1024px.png" alt="Wanna Play - Connecte les joueurs" id="logo-main" width="4265" height="1834" loading="lazy" /> -->
            <!-- <Img
                src="/src/assets/images/LOGO-1024px.png"
                alt="Wanna Play - Connecte les joueurs"
                id="logo-main"
                width="4265"
                height="1834"
                loading="lazy" /> -->
            <img
              src="/assets/images/Wanna-Play_ASBL-Animation-1x.gif"
              alt="Wanna Play - Connecte les joueurs"
              id="logo-main"
              width="400"
              height="190.5"
              loading="lazy"
            />
          </h1>
          <p class="h1 color-palette-variation-funky">Connecte les joueurs</p>
        </hgroup>

        <div class="max-width-measure-h2 center text">
          <p>
            Tu cherches une soirée jeux, un événement, un magasin, une ludothèque, un bar à jeux, un
            club, ...?
          </p>
          <p>Retrouve toute l'info liée au monde du jeu de société sur Wanna Play!</p>
        </div>

        <!-- Picture Map -->
        <div class="center">
          <Img src={paperMapBlue} alt="" loading="eager" class="" style="" width="800" />
        </div>

        <!-- SECTION: looking where to play? -->
        <section
          class="where-to-play center max text stack gap-down-h1 padding-y-h-1
            full-bleed-before full-bleed-after skew-border-before skew-border-after
            color-palette-variation-contrast"
        >
          <div class="stack gap-down-h7">
            <h2>Tu veux jouer?</h2>
            <p class="max-width-measure center">
              Retrouve ici tous les lieux et événements jeu de société en Belgique.
            </p>
          </div>
          <div class="grid" style="--width-column: 12rem;">
            <div class="">
              <div class="center text intrinsic stack gap-down-h8 breakout-clickable">
                <CalendarIcon style="height:120px;" />
                <a href={'/' + createPath({ type: 'events' }) + '/'} class="h3 clickable"
                  >Événements jeux</a
                >
                <p>(Aprem, soirée jeu, festival,…)</p>
              </div>

              <div class="center text intrinsic stack gap-down-h8 breakout-clickable">
                <OrgIcon style="height:120px;" />
                <a href={'/' + createPath({ type: 'organizations' }) + '/'} class="h3 clickable"
                  >Organisations ludiques</a
                >
                <p>(Boutique, ludothèque, bar à jeux,…)</p>
              </div>
              <div class="center text intrinsic stack gap-down-h8 breakout-clickable">
                <BxlIcon style="height:120px;" />
                <a href={'/' + createPath({ type: 'areas' }) + '/'} class="h3 clickable"
                  >Par province</a
                >
                <p>(Bruxelles, Namur, Anvers, Liège,…)</p>
              </div>
            </div>
          </div>
        </section>

        <!-- SECTION: Festivals in Belgium -->
        <section class="next-festivals center max text stack gap-down-h1 padding-y-h-1">
          <h2>Les prochains festivals de jeu en Belgique</h2>
          <div class="grid gap-down-h4" style="--width-column: var(--width-col-4);">
            <ul class="grid-events list reset">
              {
                festivals?.map(festival => {
                  const {
                    name,
                    typesTranslated,
                    location,
                    cover_image,
                    organizers,
                    time_start,
                    time_end,
                    isSameDay,
                  } = festival

                  const srcCover = imageDirectusSrc({
                    src: cover_image?.src,
                    width: '1000',
                    fit: 'cover',
                    quality: '50',
                  })

                  return (
                    <li
                      class="card-event breakout-clickable box no-border no-padding border-radius-s"
                      style=""
                      data-types={typesTranslated?.map(t => t.code_name)}
                    >
                      <div
                        class="box no-border padding-h4 with-sidebar gap-h4
                                          color-palette-trans
                                          background-overlay
                                          "
                        style={
                          (srcCover
                            ? `background-image: url("${srcCover}"); `
                            : `background-image: url("/assets/images/WannaPlay-banner-paper.jpeg");`) +
                          `--content-min: 80%;`
                        }
                      >
                        <div>
                          <time
                            datetime={time_start.dateTimeRaw}
                            class="timestart stack gap-down-h8 center intrinsic"
                            style="line-height: 1;"
                          >
                            <span class="size-h1">{time_start?.fr?.day}</span>
                            <span class="size-h2">{time_start?.fr?.monthShort}</span>
                            <span class="size-h2">{time_start?.fr?.year}</span>
                          </time>
                          <div>
                            <div class="cover no-gap" style="--min-height: 100%;">
                              <h2 class="h3 centered">
                                <a
                                  href={`/${festival.path}/`}
                                  class="name reset clickable"
                                  set:html={name}
                                />
                              </h2>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card-event-footer box no-border padding-h8 stack horizontal split-after-1">
                        <p
                          class="zip city h5"
                          data-zip={location.postalCode}
                          data-city={location.addressLocality}
                          data-latitude={location.geo?.coordinates[1]}
                          data-longitude={location.geo?.coordinates[0]}
                        >
                          {location.addressLocality}
                        </p>
                        <ul class="reset stack horizontal">
                          {organizers?.map(({ name, logo }) => (
                            <li>
                              {logo?.src ? (
                                <ImgDirectus
                                  image={logo}
                                  src={logo?.src}
                                  alt={name}
                                  loading="lazy"
                                  class=""
                                  style="width: 2rem; max-height: 2rem; max-width: 100%; height: auto;"
                                  width="32"
                                  height="32"
                                  fit="inside"
                                  quality="99"
                                />
                              ) : (
                                <Img
                                  src={placeholderWPlayCircleBlue}
                                  alt="logo"
                                  loading="lazy"
                                  class=""
                                  style="width: 2rem; max-height: 2rem; max-width: 100%; height: auto;"
                                  width="32"
                                  height="32"
                                />
                              )}
                            </li>
                          ))}
                        </ul>
                      </div>
                    </li>
                  )
                })
              }
            </ul>
          </div>
        </section>

        <!-- SECTION: Meeple on map image -->
        <div class="cover-map-section full-bleed">
          <Img src={paperMapTeal} alt="" loading="lazy" class="" style="" width="2000" />
        </div>

        <!-- SECTION: Festivals in Belgium -->
        <section class="wplay-events center max text stack gap-down-h1 padding-y-h-1">
          <h2>Viens rencontrer Wanna Play!</h2>
          {
            wPlayEvents && wPlayEvents.length > 0 ? (
              <div class="grid gap-down-h4" style="--width-column: var(--width-col-4);">
                <ul class="grid-events list reset">
                  {wPlayEvents?.map(event => {
                    const {
                      name,
                      typesTranslated,
                      location,
                      cover_image,
                      organizers,
                      time_start,
                      time_end,
                      isSameDay,
                    } = event

                    const srcCover = imageDirectusSrc({
                      src: cover_image?.src,
                      width: '1000',
                      fit: 'cover',
                      quality: '50',
                    })

                    return (
                      <li
                        class="card-event breakout-clickable box no-border no-padding border-radius-s"
                        style=""
                        data-types={typesTranslated?.map(t => t.code_name)}
                      >
                        <div
                          class="box no-border padding-h4 with-sidebar gap-h4
                                              color-palette-trans
                                              background-overlay
                                              "
                          style={
                            (srcCover
                              ? `background-image: url("${srcCover}"); `
                              : `background-image: url("/assets/images/WannaPlay-banner-paper.jpeg");`) +
                            `--content-min: 80%;`
                          }
                        >
                          <div>
                            <time
                              datetime={time_start.dateTimeRaw}
                              class="timestart stack gap-down-h8 center intrinsic"
                              style="line-height: 1;"
                            >
                              <span class="size-h1">{time_start?.fr?.day}</span>
                              <span class="size-h2">{time_start?.fr?.monthShort}</span>
                              <span class="size-h2">{time_start?.fr?.year}</span>
                            </time>
                            <div>
                              <div class="cover no-gap" style="--min-height: 100%;">
                                <h2 class="h3 centered">
                                  <a
                                    href={`/${event.path}/`}
                                    class="name reset clickable"
                                    set:html={name}
                                  />
                                </h2>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-event-footer box no-border padding-h8 stack horizontal split-after-1">
                          <p
                            class="zip city h5"
                            data-zip={location.postalCode}
                            data-city={location.addressLocality}
                            data-latitude={location.geo?.coordinates[1]}
                            data-longitude={location.geo?.coordinates[0]}
                          >
                            {location.addressLocality}
                          </p>
                          <ul class="reset stack horizontal">
                            {organizers?.map(({ name, logo }) => (
                              <li>
                                {logo?.src ? (
                                  <ImgDirectus
                                    image={logo}
                                    src={logo?.src}
                                    alt={name}
                                    loading="lazy"
                                    class=""
                                    style="width: 2rem; max-height: 2rem; max-width: 100%; height: auto;"
                                    width="32"
                                    height="32"
                                    fit="inside"
                                    quality="99"
                                  />
                                ) : (
                                  <Img
                                    src={placeholderWPlayCircleBlue}
                                    alt="logo"
                                    loading="lazy"
                                    class=""
                                    style="width: 2rem; max-height: 2rem; max-width: 100%; height: auto;"
                                    width="32"
                                    height="32"
                                  />
                                )}
                              </li>
                            ))}
                          </ul>
                        </div>
                      </li>
                    )
                  })}
                </ul>
              </div>
            ) : (
              <>
                <p>
                  Nous n'avons pas d'événement prévu pour l'instant.
                  <br />
                  N'hésite pas à nous contacter.
                </p>
                <p>
                  <a href="/fr/contact/" class="reset button padding-x-h5 padding-y-h7">
                    Nous contacter
                  </a>
                </p>
              </>
            )
          }
        </section>

        <!-- SECTION: Animation services -->
        <section
          class="animation-services stack gap-down-h1 color-palette-variation-funky-contrast full-bleed-before padding-y-h-1"
        >
          <div class="center max stack gap-down-h1">
            <div class="max-width-measure center text stack gap-down-h7">
              <h2>Services d'animation</h2>
              <p>Envie d'apporter une dimansion ludique à ton événement?</p>
              <p>
                Que tu sois une organisation publique, une entreprise ou une association, nous
                transformons tes événements en véritables expériences immersives. Grâce aux jeux de
                société, aux techniques d'escape game ou aux jeux de piste par exemple, nous créons
                des moments de convivialité et de collaboration, adaptés à tes objectifs et à ton
                public.
              </p>
            </div>
          </div>
          <div class="coordination">
            <div class="img-container">
              <Img src={animationCoord} alt="" loading="lazy" class="" style="" width="500" />
            </div>
            <div>
              <h3>Coordination d'animations</h3>
              <p>Des expériences ludiques et immersives pour tous.</p>
              <p>
                Que ce soit pour renforcer la cohésion d'équipe, dynamiser tes formations ou
                simplement offrir un moment de détente, nos animations ludiques s'adaptent à tes
                besoins. Avec une approche personnalisée, nous proposons des activités variées:
              </p>
              <ul>
                <li>
                  Jeux de société modernes: des classiques aux nouveautés, notre catalogue répond à
                  tous les goûts.
                </li>
                <li>
                  Jeux géants et jeux d'habilité: bonne ambiance garantie autour d'un jeu d'habilité
                  en solo ou par équipes.
                </li>
                <li>
                  Escape games et jeux de piste: enquêtes, énigmes et défis, parfaits pour des
                  expériences engageantes en équipe.
                </li>
                <li>
                  Animations sur mesure: nous concevons des activités adaptées à ton thème ou
                  événement particulier.
                </li>
              </ul>
            </div>
          </div>
          <div class="network">
            <div class="img-container">
              <Img src={animationNetwork} alt="" loading="lazy" class="" style="" width="500" />
            </div>
            <div class="reversible">
              <h3>Réseau d'animateurs ludiques</h3>
              <p>Un Réseau d'animateurs passionnés dans toute la Belgique.</p>
              <p>
                Chez Wanna Play, nous collaborons avec des animateurs expérimentés partout en
                Belgique pour garantir des prestations de qualité.
              </p>
              <p>
                Nos animateurs partagent la passion du jeu et apportent leur expertise pour assurer
                des animations professionnelles et divertissantes, où que tu sois.
              </p>
            </div>
          </div>
          <div>
            <div class="center max text stack gap-down-h1">
              <p>
                <strong
                  >Envie d'en savoir plus sur nos sevices ou de rejoindre notre réseau d'animateurs?</strong
                >
              </p>
              <p>
                <strong
                  ><a href="/fr/contact/" class="reset button padding-x-h5 padding-y-h7"
                    >Contacte-nous</a
                  ></strong
                >
              </p>
            </div>
          </div>
        </section>
        <!-- SECTION: Volunteers image -->
        <div class="cover-volunteers-section full-bleed">
          <Img src={volunteersFestival} alt="" loading="lazy" class="" style="" width="2000" />
        </div>

        <!-- SECTION: ASBL -->
        <section class="home-asbl center text stack gap-down-h1">
          <h2>L'ASBL</h2>
          <p>
            Wanna Play est <a href="/fr/projet/">une ASBL</a> qui vise depuis 2017 à connecter les joueurs
            et les différents acteurs du monde du jeu, tant particuliers que professionnels. Notre mission
            est de renforcer le réseau ludique belge, de créer plus de lien entre ses différents acteurs
            et de créer des opportunités pour le développer d'avantage. Si tu veux en savoir plus, on
            a une page dédiée à <a href="/fr/projet/">l'historique du projet</a> et une autre pour présenter
            <a href="/fr/equipe/">l'équipe</a>. Si tu es curieux, n'hésite pas à nous contacter!
          </p>
          <p>
            <a href="/fr/contact/" class="reset button padding-x-h5 padding-y-h7"
              >Je suis curieux⋅se</a
            >
          </p>
        </section>
      </div>

      {
        /* <section
          class="countdown-section color-palette-variation-funky-contrast full-bleed"
        >
          <div class="center text stack gap-down-h3">
            <p>
              <span class="h3">Festival</span><br />
              <a
                class="h2"
                href="/fr/e/wanna-play-in-brussels-free-board-game-festival-2023-07-08/"
                >Wanna Play in Brussels 2023
              </a><br />
            </p>
            <div class="grid" style="--width-column: 8rem;">
              <div>
                {festivalPics.map((pic) => {
                  return (
                    <Img
                      src={pic}
                      alt=""
                      loading="lazy"
                      class=""
                      style="width: 15rem; max-height: 15rem; max-width: 100%; height: auto;"
                      width="240"
                      height="240"
                    />
                  )
                })}
              </div>
            </div>
            <p id="countdown" class="h1">-J -H -m -s</p>
          </div>
        </section> */
      }

      {
        /* <div class="center intrinsic max-width-measure-h3 stack gap-down-h1">
          <h2 class="center text">Où veux-tu jouer?</h2>
          <div class="cluster gap-down-h6" style="--justify-content: center;">
            <ul class="reset">
              {areas.map((area) => {
                return (
                  <li>
                    <a
                      href={`/${area.path[lang.code]}/`}
                      class={`area-${area.code_name}`}
                    >
                      {area.name[lang.code]}
                    </a>
                  </li>
                )
              })}
            </ul>
          </div>
          <div>
            <BelgiumMap {lang} {areas} />
          </div>
        </div> */
      }

      {
        /* <section
          class="articles center max text stack gap-down-h1
          full-bleed-before full-bleed-after skew-border-before skew-border-after
          color-palette-variation-funky-contrast
        "
        >
          <h2>Derniers articles</h2>
          <div
            class="grid gap-down-h4"
            style="--width-column: var(--width-col-4);"
          >
            <div>
              {articles.map((a) => {
                const headerT = a?.header?.[0].translations.find(
                  ({ languages_code }) => languages_code === lang.code,
                )
                return (
                  <article
                    class="card-article
                                breakout-clickable
                                box no-border stack gap-down-h2 split-after-2
                                color-palette-variation-contrast
                                border-radius-m"
                  >
                    <IO div $skipNoInner>
                      <ImgDirectus
                        $skip={!headerT?.featured_image?.src}
                        src={headerT?.featured_image?.src}
                        alt={headerT?.title}
                        loading="lazy"
                        class="featured-image"
                        width="590"
                        height="400"
                        fit="cover"
                        quality="99"
                      />
                    </IO>
                    <h3 class="h4">
                      <a href={`/${a.path}/`} class="reset clickable">
                        {headerT?.title}
                      </a>
                    </h3>
                    <IO div $skipNoInner class="stack gap-down-h7">
                      <IO div $skipNoInner class="cluster">
                        <IO ul $skipNoInner class="reset">
                          {a?.authors?.map((author) => (
                            <IO
                              li
                              $skipNoInner
                              class="stack horizontal gap-down-h7"
                            >
                              <IO
                                div
                                $skip={!author?.avatar?.src}
                                class="box no-padding border-radius-circle border-width-1"
                              >
                                <ImgDirectus
                                  $skip={!author?.avatar?.src}
                                  src={author?.avatar?.src}
                                  alt={author?.display_name}
                                  loading="lazy"
                                  class="border-radius-circle"
                                  style="max-width: 32px; max-height: 32px; width: 100%; height: 100%;"
                                  width="32"
                                  height="32"
                                  fit="cover"
                                  quality="99"
                                />
                              </IO>
                              <IO p $skipNoInner class="author-name">
                                {author?.display_name}
                              </IO>
                            </IO>
                          ))}
                        </IO>
                      </IO>
                      <hr />
                      <IO p $skip={!a?.date_published?.fr?.date}>
                        Publié le <strong>{a?.date_published?.fr?.date}</strong>
                      </IO>
                    </IO>
                  </article>
                )
              })}
            </div>
          </div>
          <p><a href={`/${lang.code}/a`} class="h3">Tous les articles</a></p>
        </section> */
      }
    </main>
    <script is:inline type="application/ld+json" set:html={JSON.stringify(jsonLd)} />
  </BasicPage>
</SkeletonPage>

<style>
  #logo-main {
    width: var(--width-col-3);
    max-width: 100%;
    height: auto;
  }
  section.articles {
    margin-top: 4vw;
    margin-bottom: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;

    --skew-before: 0.7deg;
    --skew-before-origin: top right;
    --skew-after: -1deg;
    --skew-after-origin: bottom right;
  }
  /* .countdown-section {
    padding: var(--padding);
  } */
  .where-to-play {
    /* padding-block: 3rem; */
    --skew-before: 3deg;
    --skew-before-origin: top right;
    --skew-after: 0deg;
    /* --skew-after-origin: bottom right; */

    & a {
      display: flex;
      flex-direction: column;
    }
    & .breakout-clickable {
      --shadow-breakout-clickable: 0;
      --shadow-breakout-clickable-hover: 0;
      transform: none;
      transition: none;

      &:hover {
        transition: none;
        color: var(--color-text__a--hover);
      }
    }
  }
  .grid-events {
    justify-content: center;
  }
  .card-event {
    max-width: 35rem;
  }
  .cover-map-section,
  .cover-volunteers-section {
    overflow: hidden;
    & > img {
      margin: auto;
      object-fit: cover;
      object-position: center 20%;
    }
  }
  .cover-map-section {
    & + * {
      margin-top: 0 !important;
    }
    & > img {
      max-height: 40vh;
      object-position: center 20%;
    }
  }
  .cover-volunteers-section {
    margin-top: 0 !important;
    & > img {
      max-height: 50vh;
      object-position: center 30%;
    }
  }
  .animation-services {
    /* --side-width: 550px; */
  }
  .coordination,
  .network {
    display: flex;
    flex-direction: column;
    gap: var(--size-h4);

    & .img-container {
      flex-shrink: 0;
      width: 500px;
      max-width: 100%;
      /* width: 45%; */
      border-radius: var(--border-radius-l);
      overflow: hidden;
      & img {
        object-fit: contain;
        border-radius: var(--border-radius-l);
      }
    }

    @media screen and (min-width: 50rem) {
      flex-direction: row;
      & .img-container {
        max-width: 45%;
      }
      & .reversible {
        order: -1;
        text-align: right;
      }
    }
  }
</style>

{
  /* <script>
  // Fonction pour le décompte
  function countdown() {
    var eventDate = new Date("2023-07-08T10:00:00Z") // Date de l'événement (à adapter si nécessaire)
    var currentDate = new Date()
    var timeDifference = eventDate - currentDate

    var days = Math.floor(timeDifference / (1000 * 60 * 60 * 24))
    var hours = Math.floor(
      (timeDifference % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
    )
    var minutes = Math.floor((timeDifference % (1000 * 60 * 60)) / (1000 * 60))
    var seconds = Math.floor((timeDifference % (1000 * 60)) / 1000)

    // document.getElementById("countdown").innerHTML =
    //   days +
    //   " jours, " +
    //   hours +
    //   " heures, " +
    //   minutes +
    //   " minutes, " +
    //   seconds +
    //   " secondes restantes"
    document.getElementById("countdown").innerHTML =
      days + "J " + hours + "H " + minutes + "m " + seconds + "s"
  }

  // Appeler la fonction de décompte toutes les secondes
  setInterval(countdown, 1000)
</script> */
}
