---
import path from 'node:path'
// this file is a general layout for all .md pages
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'

const frontmatter = Astro.props.frontmatter
// default lang (fr) to avoid undefined
const lang = Astro.props.lang ?? { code: 'fr' }

const pageUrl = new URL(Astro.url.pathname, Astro.site)
const canonicalUrl = (pageUrl.href + '/').replace(/[\/]+$/, '/')

const {
  siteName,
  locale, // e.g. en_US or fr_BE
  ogType, // probably "website" or "article" or ...
  title,
  description,
  socialImage,
  twitterCard, // "summary", "summary_large_image", "app", or "player".
  ogVideo, // og:video - A URL to a video file that complements this object.
} = frontmatter

---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    {siteName}
    {locale}
    {ogType}
    {title}
    {description}
    {canonicalUrl}
    {socialImage}
    {twitterCard}
    {ogVideo}
  />
  <BasicPage {lang}>
    <main class="center max">
      <slot />
    </main>
  </BasicPage>
</SkeletonPage>
