---
// this file is a general layout for all .md pages
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'

const props = Astro.props
const { frontmatter, headings, url, file } = props

// default lang (fr) to avoid undefined
const lang = props.lang ?? { code: 'fr' }

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const defaultDescription =
  "Wanna Play a pour mission de connecter les joueurs en live et en ligne. Toute l'info du jeu de société en Belgique."
const imagePath = '/assets/images/LOGO-1024px.png'

// default title if not provided in the frontmatter
const title = frontmatter.title ?? 'Page'
// default description if not provided in the frontmatter
const description = frontmatter.description ?? defaultDescription
---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="website"
    {title}
    {description}
    canonicalUrl={canonicalURL.href + '/'}
    socialImage={imagePath}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center max">
      <slot />
    </main>
  </BasicPage>
</SkeletonPage>
