---
import { IO, Img, ImgDirectus, SEO } from "@components";
import placeholderWPlayCircleBlue from "@images/WannaPlay-button-circle-blue.png";
import { BasicPage, SkeletonPage } from "@layouts";

const { lang, organizations, areas, dictionary } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

---

<SkeletonPage lang={lang.code}>
  <SEO
    slot="head"
    ogType="website"
    title={`Soirées jeux, clubs, bar à jeux, ludothèques dans la province de `}
    description={`Tu veux jouer dans la province de ? Viens découvrir les lieux ludiques de la région.`}
    canonicalUrl={canonicalURL.href}
    socialImage="/assets/images/LOGO-1024px.png"
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center width-max">
      <div id="events-list-container" class="box no-border stack gap-down-h1">
        <IO h2 $skip={!organizations?.[0]} class="center text">
          Organisations
        </IO>

        <script src="/assets/js/organizations-filter.js" defer type="module"></script>
        <div class="center">
          <form id="organizationsForm" class="stack horizontal justify-content-center gap-0" style="flex-wrap: wrap; gap: var(--size-h1)">
            <div class="dropdown center">
              <button id="areaBtn" onclick="area.classList.toggle('show')" class="dropbtn max-width-col-5 text-overflow-ellipsis">Provinces</button>
              <div id="area" class="dropdown-content align-items-start">
                <div class="stack gap-h3" style="white-space: nowrap">
                  {
                    areas.map(area => {
                      return (
                        <div class="stack horizontal align-items-center">
                          <input
                            type="checkbox"
                            id={area.code_name}
                            value={area.code_name}
                            name="areas"
                            data-code={area.code_name}
                            data-label={area.name[lang.code]}
                          >
                          <label for={area.code_name}>{area.name[lang.code]}</label>
                        </div>
                      );
                    })
                  }
                </div>
              </div>
            </div>
            <div class="dropdown center">
              <button id="typeBtn" onclick="organizationType.classList.toggle('show')" class="dropbtn max-width-col-5 text-overflow-ellipsis">Types</button>
              <div id="organizationType" class="dropdown-content align-items-start">
                <div class="stack gap-h3" style="white-space: nowrap">
                  {
                    dictionary.filter(
                      (d) => d.tag_categories.includes("organization_type")
                    ).map(d => {
                      return (
                        <div class="stack horizontal align-items-center">
                          <input
                            type="checkbox"
                            id={d.code_name} value={d.code_name}
                            name="types"
                            data-code={d.code_name}
                            data-label={d.translations.find(t => t.language_code === lang.code).default_label}
                          >
                          <label for={d.code_name}>{d.translations.find(t => t.language_code === lang.code).default_label}</label>
                        </div>
                      );
                    })
                  }
                </div>
              </div>
            </div>
            <div class="dropdown center">
              <button id="serviceBtn" onclick="service.classList.toggle('show')" class="dropbtn max-width-col-5 text-overflow-ellipsis">Services</button>
              <div id="service" class="dropdown-content align-items-start">
                <div class="stack gap-h3" style="white-space: nowrap">
                  {
                    dictionary.filter(
                      (d) => d.tag_categories.includes("games_related_service")
                    ).map(d => {
                      return (
                        <div class="stack horizontal align-items-center">
                          <input
                            type="checkbox"
                            id={d.code_name} value={d.code_name}
                            name="services"
                            data-code={d.code_name}
                            data-label={d.translations.find(t => t.language_code === lang.code).default_label}
                          >
                          <label for={d.code_name}>{d.translations.find(t => t.language_code === lang.code).default_label}</label>
                        </div>
                      );
                    })
                  }
                </div>
              </div>
            </div>
            <input type="reset" id="resetBtn" class="color-palette-teal" style="display: none;">
          </form>
        </div>

        <IO
          div
          $skipNoInner
          class="grid gap-down-h4"
          style="--width-column: var(--width-col-6);"
        >
          <IO ul $skipNoInner class="reset">
            {
              organizations?.map((organization) => {
                const { name, path, logo, typesTranslated, location, servicesTranslated } = organization

                const nameIsLong = name.length > 30

                return (
                  <li
                    class="card-organization
                                        box no-border stack gap-down-h7 split-after-1
                                        border-radius-s
                                        breakout-clickable"
                    style=""
                    data-area={location?.area.code_name}
                    data-types={typesTranslated?.map(t => t.code_name)}
                    data-services={servicesTranslated?.map(t => t.code_name)}
                  >
                    <div
                      class="center intrinsic"
                      style="justify-content: center; height: var(--width-col-10); overflow: hidden;"
                    >
                      {logo?.src ? (
                        <ImgDirectus
                          image={logo}
                          src={logo?.src}
                          alt={name}
                          loading="lazy"
                          class=""
                          style="width: 120px; max-width: 100%; height: auto; max-height: 120px;"
                          width="120"
                          height="120"
                          fit="inside"
                          quality="99"
                        />
                      ) : (
                        <Img
                          src={placeholderWPlayCircleBlue}
                          alt="logo"
                          loading="lazy"
                          class=""
                          style="width: 120px; max-width: 100%; height: auto; max-height: 120px;"
                          width="120"
                          height="120"
                        />
                      )}
                    </div>
                    <h3>
                      <a
                        href={`/${path}`}
                        class={`reset clickable${nameIsLong ? " h4" : ""}`}
                      >
                        {name}
                      </a>
                    </h3>
                    <IO
                      div
                      $skip={!typesTranslated?.[0]}
                      class="cluster gap-down-h8"
                    >
                      <ul class="reset">
                        {typesTranslated?.map((type) => {
                          const currentPalette = `color-palette-${type.code_name}`
                          return (
                            <li
                              class={`box no-border padding-x-h8 padding-y-h9
                                                            ${currentPalette} color-palette-variation-contrast
                                                            border-radius-s`}
                            >
                              {type.translations.find(t => t.language_code === lang.code).default_label}
                            </li>
                          )
                        })}
                      </ul>
                    </IO>
                  </li>
                )
              })
            }
          </IO>
        </IO>
      </div>
    </main>
  </BasicPage>
</SkeletonPage>

<style>
  .sort.asc::after {
    content: "\002B06";
    padding-left: 3px;
  }
  .sort.desc::after {
    content: "\002B07";
    padding-left: 3px;
  }
</style>
