---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO, Img } from '@components'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import { YouTube } from 'astro-embed'
import bannerPaper from '@assets/images/WannaPlay-banner-paper.jpeg'
import getOptimizedImages from '../../../utils/getOptimizedImages.js'
import imgVisibilite1 from '@assets/images/photos-Festival-2022/visibilite/IMG_6022.webp'
import imgVisibilite2 from '@assets/images/photos-Festival-2022/visibilite/IMG_6023.webp'
import imgVisibilite3 from '@assets/images/photos-Festival-2022/visibilite/IMG_6271.webp'
import imgVisibilite4 from '@assets/images/photos-Festival-2022/visibilite/IMG_6272.webp'
import imgVisibilite5 from '@assets/images/photos-Festival-2022/visibilite/IMG_6273.webp'
import imgVisibilite6 from '@assets/images/photos-Festival-2022/visibilite/IMG_6274.webp'

// const { lang } = Astro.props
const lang = { code: 'fr' }

const mainPartnersData = [
  {
    fileName: 'logo-grand-hospice',
    alt: 'Logo Grand Hospice',
    link: 'https://www.grand-hospice.brussels/',
  },
  {
    fileName: 'logo-jardin-noir',
    alt: 'Logo Jardin du Grand Hospice',
    link: 'https://www.grand-hospice.brussels/jardin/',
  },
]

const partnersData = [
  { fileName: 'logo-espace-careme', alt: 'Logo Bibliothèque Anderlecht (Espace Carême)', link: '' },
  { fileName: 'association-10-des', alt: 'Association 10 des', link: 'https://www.sajou.be/' },
  { fileName: 'logo-ludenne', alt: 'Logo Ludenne', link: '' },
  { fileName: 'logo-des-mentiel', alt: 'Logo Des Mentiel', link: '' },
  { fileName: 'logo-chez-cubitus-xl', alt: 'Logo Chez Cubitus', link: '' },
  { fileName: 'logo-g-a-g', alt: 'Logo Geek Attitude Games', link: '' },
  { fileName: 'logo-au-fil-des-mot', alt: 'Logo Au Fil des Mots', link: '' },
  { fileName: 'logo-happy-meeple', alt: 'Logo Happy Meeple', link: '' },
  { fileName: 'logo-ploef', alt: 'Logo Ploef', link: '' },
  { fileName: 'logo-jokers', alt: 'Logo Jokers', link: '' },
  { fileName: 'logo-jeux-opla', alt: 'Logo Jeux Opla', link: '' },
  { fileName: 'logo-schmeta', alt: 'Logo Schmeta', link: '' },
  { fileName: 'logo-pearl-games', alt: 'Logo Pearl Games', link: '' },
  { fileName: 'logo-byr', alt: 'Logo BYR', link: '' },
  { fileName: 'romain-loussert', alt: 'Portrait de Romain Loussert', link: '' },
  { fileName: 'logo-explor8', alt: 'Logo Explor8', link: '' },
  { fileName: 'logo-asmo', alt: 'Logo Asmodee', link: '' },
  { fileName: 'logo-repos-production', alt: 'Logo Repos Production', link: '' },
  { fileName: 'logo-geronimo-distri', alt: 'Logo Geronimo', link: '' },
]

const allSlugs = [...mainPartnersData, ...partnersData].map(p => p.fileName.replace(/^logo-/, ''))

import { getOrganizations } from '../../../store/dataService.js'

const organizations = await getOrganizations({
  filter: {
    _and: [{ status: { _in: ['published', 'to_check'] } }, { slug: { _in: allSlugs } }],
  },
})

const partners = import.meta.glob<{ default: ImageMetadata }>(
  '@assets/images/partners/*.{jpeg,jpg,png,gif,webp,svg}'
)

const imagesMainPartners = await getOptimizedImages(mainPartnersData, partners, organizations)
const imagesPartners = await getOptimizedImages(partnersData, partners, organizations)
---

<SkeletonPage {lang}>
  <SEO
    slot="head"
    ogType="website"
    title="Wanna Play in Brussel 2022"
    description="Un festival gratuit d’une journée consacré aux jeux de société"
    socialImage={'/assets/images/LOGO-1024px.png'}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center max">
      <header
        class="flex center text flow items-center color-palette-trans background-overlay padding-y-relative-xl full-bleed"
        style='background-image: url("/assets/images/WannaPlay-banner-paper.jpeg"); box-sizing: border-box; --full-bleed-max-width: var(--width-max);'
      >
        <h1>Wanna Play in Brussel 2022</h1>
      </header>

      <section class="flow">
        <div class="flow">
          <p class="h2">1ère édition</p>
          <p>
            Un festival gratuit d’une journée consacré aux jeux de société dans un lieu historique
            en plein centre de Bruxelles.
          </p>
          <p>
            Le festival a eu lieu le 30 juillet 2022 de 12h à 23h au coeur des jardins du Grand
            Hospice Pacheco - Rue du Grand Hospice 7, 1000 Bruxelles.
          </p>
          <p>
            Le jardin, composé de pelouses, d’allées et de petites cours pavées, pouvait accueillir
            jusqu’à 500 personnes simultanément dont environ 250 places couvertes sous chapiteau.
          </p>
          <p>
            Le bar intérieur, également mis à notre disposition, pouvait accueillir une cinquantaine
            de personnes.
          </p>
        </div>
        <div class="flow">
          <p class="h3">Le festival avait plusieurs objectifs principaux</p>
          <ol>
            <li>
              Promouvoir le jeu à Bruxelles comme canal privilégié pour créer du lien entre
              individus de tous horizons socioculturels.
            </li>
            <li>
              Toucher un public moins joueur par un accueil chaleureux et en proposant des activités
              de découverte et de rencontre autour du jeu.
            </li>
            <li>
              Faire jouer Bruxelles à la sortie des confinements, surtout en l’absence du Brussels
              Games Festival et du Jette’s Gaming Tour.
            </li>
          </ol>
        </div>
        <div
          class="main-partners grid-fluid padding-x-relative-xl"
          style="--column-width-min: var(--size-h4); --column-width-max: var(--size-h4);"
        >
          {/* On boucle sur le tableau des PARTENAIRES PRINCIPAUX */}
          {
            imagesMainPartners.map(({ optimizedMeta, alt, finalLink }) => {
              const imgTag = (
                <Image
                  src={optimizedMeta.src}
                  {...optimizedMeta.attributes}
                  alt={alt}
                  widths={[240, 540, 720, 1200, optimizedMeta.width]}
                  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${optimizedMeta.width}px`}
                />
              )
              return finalLink ? (
                <a
                  href={finalLink}
                  target={finalLink.startsWith('http') ? '_blank' : ''}
                  class="content-center"
                >
                  {imgTag}
                </a>
              ) : (
                imgTag
              )
            })
          }
        </div>
        <div
          class="video-container grid-fluid"
          style="--column-width-min: 100%; max-width: var(--width-col-2); margin-inline: auto;"
        >
          <YouTube id="-QKaLnTcTr0" title="Wanna Play in Brussel 2022" />
        </div>
        <ul class="reset grid-fluid gap-p" style="--width-column-min: var(--width-col-8);">
          <li
            class="stat box no-border padding-p color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h2">±2500</p>
            <p>participants</p>
          </li>
          <li
            class="stat box no-border padding-p color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h2">170</p>
            <p>jeux différents</p>
          </li>
          <li
            class="stat box no-border padding-p color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h2">+70</p>
            <p>tables de jeux</p>
          </li>
          <li
            class="stat box no-border padding-p color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h2">36</p>
            <p>animateurs</p>
          </li>
          <li
            class="stat box no-border padding-p color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h2">20</p>
            <p>partenaires</p>
          </li>
          <li
            class="stat box no-border padding-p color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h2">26</p>
            <p>bénévoles</p>
          </li>
        </ul>
      </section>

      <section class="flow">
        <h2>Activités</h2>
        <ul class="flow">
          <li>
            <p>Tables de jeux</p>
            <p>
              Des espaces étaient dédiés aux jeux de société où les visiteurs pouvaient jouer et
              découvrir de nouveaux titres, chaque table était tenue par un partenaire ou un
              bénévole, afin d'y animer les parties tout en expliquant les règles des jeux.
            </p>
          </li>
          <li>
            <p>Jeux géants et d'extérieur</p>
            <p>
              Plusieurs jeux de grande taille étaient disponibles en extérieur pour le plaisir des
              petits et des grands.
            </p>
          </li>
          <li>
            <p>Bourse aux jeux</p>
            <p>Une opportunité d'acheter et de vendre des jeux d'occasion.</p>
          </li>
          <li>
            <p>Zone prototypes</p>
            <p>
              Un espace dédié aux auteurs pour présenter leurs créations en cours de développement.
            </p>
          </li>
        </ul>
      </section>

      <section class="flow">
        <h2>Mini-interview</h2>
        <div
          class="video-container grid-fluid"
          style="--column-width-min: 100%; max-width: var(--width-col-2);"
        >
          <YouTube id="PMNHLvEaFm4" title="Wanna Play in Brussel 2022 - mini-interview" />
        </div>
      </section>

      <section class="flow">
        <h2>Partenaires</h2>
        <p>
          Nous avons également reçu le soutien de nombreux acteurs ludiques Bruxellois et Belges
          dont:
        </p>
        <div class="partners-grid">
          {/* On boucle sur le tableau des images */}
          {
            imagesPartners.map(({ optimizedMeta, alt, finalLink }) => {
              const imgTag = (
                <Image
                  src={optimizedMeta.src}
                  {...optimizedMeta.attributes}
                  alt={alt}
                  widths={[240, 540, 720, 1200, optimizedMeta.width]}
                  sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${optimizedMeta.width}px`}
                />
              )
              return finalLink ? (
                <a href={finalLink} target={finalLink.startsWith('http') ? '_blank' : ''}>
                  {imgTag}
                </a>
              ) : (
                imgTag
              )
            })
          }
        </div>
      </section>

      <section class="flow">
        <h2>Bénévoles</h2>
        <p>
          Nos bénévoles ont été la véritable force motrice du festival cette année. Une équipe de 26
          bénévoles dévoués s'est mobilisée pour assurer le bon déroulement de l'événement.
        </p>
        <p>
          Leur dévouement a créé une ambiance conviviale et bienveillante tout au long de la
          journée. Nous exprimons notre profonde gratitude envers eux pour leur travail acharné.
        </p>
      </section>

      <section class="flow">
        <h2>Budget & Surprises</h2>
        <h3>Budget</h3>
        <p>
          L'édition 2022 a été auto-financée par l'ASBL Wanna Play, avec le soutien logistique de
          nos partenaires. Nous avons dû composer avec un budget limité pour cette première année.
        </p>
        <h3>Surprises</h3>
        <p>Malgré une planification rigoureuse, nous avons été confrontés à quelques imprévus.</p>
        <h4>Affluence</h4>
        <p>
          Le succès a été plus grand que prévu, ce qui nous a demandé une grande réactivité pour
          accueillir tout le monde dans les meilleures conditions.
        </p>
        <h4>Logistique</h4>
        <p>
          L'installation dans le Jardin du Grand Hospice a présenté quelques défis techniques que
          nous avons su surmonter grâce à l'implication de l'équipe.
        </p>
      </section>

      <section class="flow">
        <h2>Visibilité</h2>
        <div class="flow">
          <h3>Promotion à travers divers média</h3>
          <ul>
            <li>Spot radio le matin même du festival sur la première</li>
            <li>Communiqué de presse envoyé à 22 médias</li>
            <li>Une douzaine d’articles publiés par divers médias en ligne</li>
            <li>
              Affichage à l’hospice Pacheco et dans quelques lieux clé dont des magasins de jeux et
              ludothèques
            </li>
            <li>
              Flyers distribués lors de certains événements et dans de nombreux lieux du centre
              ville
            </li>
            <li>Publications sur les réseaux sociaux</li>
            <li>Newsletter</li>
          </ul>
          <div class="imgGrid grid-fluid gap-p">
            <Image
              src={imgVisibilite1}
              alt="Interview"
              widths={[240, 540, 720, 1200, 'auto']}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${imgVisibilite1.width}px`}
            />
            <!-- <Image src={imgVisibilite2} alt="Interview" /> -->
            <Image
              src={imgVisibilite3}
              alt="Interview"
              widths={[240, 540, 720, 1200, 'auto']}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${imgVisibilite3.width}px`}
            />
            <Image
              src={imgVisibilite4}
              alt="Interview"
              widths={[240, 540, 720, 1200, 'auto']}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${imgVisibilite4.width}px`}
            />
            <Image
              src={imgVisibilite5}
              alt="Interview"
              widths={[240, 540, 720, 1200, 'auto']}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${imgVisibilite5.width}px`}
            />
            <Image
              src={imgVisibilite6}
              alt="Interview"
              widths={[240, 540, 720, 1200, 'auto']}
              sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 1200px, ${imgVisibilite6.width}px`}
            />
          </div>
        </div>

        <div class="flow">
          <h3>Espace Presse</h3>
          <p>
            Le communiqué de presse officiel détaillant les objectifs, les chiffres de l'édition
            précédente et les informations pratiques est disponible en consultation.
          </p>
          <a
            href="/assets/files/Wanna-Play-in-Brussels_communique-de-press-30-07-2022.pdf"
            target="_blank"
            download="Wanna-Play-in-Brussels_communique-de-press-30-07-2022"
          >
            Télécharger le Communiqué de Presse (PDF)
          </a>
        </div>

        <div class="flow">
          <h3>Production audio-visuelles</h3>

          <p>
            En terme de productions audio-visuelles nous avons réalisé une mascotte, une affiche,
            des flyers, une affiche d’équipe, de la signalétique, des photos et des vidéos durant
            l’événement, ainsi qu’un after-movie et des interviews.
          </p>
        </div>

        <section class="flow">
          <h2>Documents à télécharger</h2>
          <ul class="flow">
            <li>
              <a
                href="/assets/files/Wanna-Play-Rapport-Activité-30-juillet-2022.pdf"
                target="_blank"
                download="Wanna-Play-Rapport-Activité-30-juillet-2022"
              >
                <strong>Rapport d'Activité 2022</strong> (PDF)
              </a>
            </li>
          </ul>
        </section>
      </section>
      <section class="flow">
        <h2>Remerciements</h2>
        <p>
          Un tout grand merci à Aiden Boydens, Alain Bodart, Baptiste Delfini, Brigitte Simonet,
          Béatrice Bosschaert, Cyril Lefebvre, India Hadri, Iris Senden, Jeanette Veloso, Jim Colin,
          Jean- Marc Rogier, Julie Facker, Julien Vandenheede, Joelle Garnier, Leila Myar, Louis
          Detaeye, Marc Colin, Marine de Lamotte, Maarten Vandenbroeck, Morgane Coubeaux, Morgane
          Senden, Nelson Ribeiro Silva, Pierre Vannieuwerburgh, Quentin Lammerant, Roxane Gruel,
          Véronique Bosschaert et Véronique Simonet
        </p>
      </section>
    </main>
  </BasicPage>
</SkeletonPage>
<style>
  .video-container {
    width: 100%;
    justify-content: center;
  }

  .video-container iframe,
  .video-container lite-youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-l);
  }

  .video-grid iframe {
    width: 50%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-l);
  }

  .partners-grid {
    display: grid;
    /* 6 colonnes par défaut, qui s'adaptent si l'écran est plus petit */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: var(--size-h3);
    align-items: center;
    justify-items: center;
    margin-bottom: var(--size-h3);
  }

  /* Pour s'assurer que les logos sur une grille complète ne dépassent pas */
  @media (min-width: 1024px) {
    .partners-grid {
      grid-template-columns: repeat(8, 1fr);
    }
  }

  .partners-grid img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100px;
  }

  section {
    padding-block: var(--size-h2);
  }

  section.flow,
  div.flow > * {
    --flow-space: var(--gap-h3);
  }

  .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: var(--size-h2);
  }

  .main-partners a {
    display: flex;
    justify-content: center;
  }
  .main-partners img {
    object-fit: contain;
    width: 33%;
  }

  .imgGrid img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-s);
    aspect-ratio: 1/1;
  }
  .more-videos iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-l);
  }
</style>
