---
import { SkeletonPage, BasicPage } from '@layouts'
import { SEO } from '@components'
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'
import bannerPaper from '../../../assets/images/WannaPlay-banner-paper.jpeg'
import gagBack from '../../../assets/images/photos-Festival-2022/gag_back.jpg'
import hoplaFlorent from '../../../assets/images/photos-Festival-2022/hopla-florent.jpg'
import kidsStoryTime from '../../../assets/images/photos-Festival-2022/kids-story-time.jpg'
import kids from '../../../assets/images/photos-Festival-2022/kids.jpg'
import londonPierre from '../../../assets/images/photos-Festival-2022/london-pierre.jpg'
import moonArea from '../../../assets/images/photos-Festival-2022/moon-area.jpg'
import getOptimizedImages from '../../../utils/getOptimizedImages.js'

// const { lang } = Astro.props
const lang = { code: 'fr' }

const mainPartnersData = [
  {
    fileName: 'logo-grand-hospice',
    alt: 'Logo Grand Hospice',
    link: 'https://www.grand-hospice.brussels/',
  },
  {
    fileName: 'logo-jardin-noir',
    alt: 'Logo Jardin du Grand Hospice',
    link: 'https://www.grand-hospice.brussels/jardin/',
  },
]

const partnersData = [
  { fileName: 'logo-bibliotheque-anderlecht', alt: 'Logo Bibliothèque Anderlecht', link: '' },
  { fileName: 'association-10-des', alt: 'Association 10 des', link: 'https://www.sajou.be/' },
  { fileName: 'logo-ludenne', alt: 'Logo Ludenne', link: '' },
  { fileName: 'logo-des-mentiel', alt: 'Logo Des Mentiel', link: '' },
  { fileName: 'logo-chez-cubitus-xl', alt: 'Logo Chez Cubitus', link: '' },
  { fileName: 'logo-g-a-g', alt: 'Logo Geek Attitude Games', link: '' },
  { fileName: 'logo-au-fil-des-mot', alt: 'Logo Au Fil des Mots', link: '' },
  { fileName: 'logo-happy-meeple', alt: 'Logo Happy Meeple', link: '' },
  { fileName: 'logo-ploef', alt: 'Logo Ploef', link: '' },
  { fileName: 'logo-jokers', alt: 'Logo Jokers', link: '' },
  { fileName: 'logo-jeux-opla', alt: 'Logo Jeux Opla', link: '' },
  { fileName: 'logo-schmeta', alt: 'Logo Schmeta', link: '' },
  { fileName: 'logo-pearl-games', alt: 'Logo Pearl Games', link: '' },
  { fileName: 'logo-byr', alt: 'Logo BYR', link: '' },
  { fileName: 'romain-loussert', alt: 'Portrait de Romain Loussert', link: '' },
  { fileName: 'logo-explor8', alt: 'Logo Explor8', link: '' },
  { fileName: 'logo-asmo', alt: 'Logo Asmodee', link: '' },
  { fileName: 'logo-repos-production', alt: 'Logo Repos Production', link: '' },
  { fileName: 'logo-geronimo-distri', alt: 'Logo Geronimo', link: '' },
]

const allSlugs = [...mainPartnersData, ...partnersData].map(p => p.fileName.replace(/^logo-/, ''))

import { getOrganizations } from '../../../store/dataService.js'

const organizations = await getOrganizations({
  filter: {
    _and: [{ status: { _in: ['published', 'to_check'] } }, { slug: { _in: allSlugs } }],
  },
})

const partners = import.meta.glob<{ default: ImageMetadata }>(
  '@assets/images/partners/*.{jpeg,jpg,png,gif,webp,svg}'
)

const imagesMainPartners = await getOptimizedImages(mainPartnersData, partners, organizations)
const imagesPartners = await getOptimizedImages(partnersData, partners, organizations)
---

<SkeletonPage {lang}>
  <SEO
    slot="head"
    ogType="website"
    title="Wanna Play in Brussel 2022"
    description="Un festival gratuit d’une journée consacré aux jeux de société"
    socialImage={'/assets/images/LOGO-1024px.png'}
    ogVideo={false}
    twitterCard="summary"
  />
  <BasicPage {lang}>
    <main class="center max" style="margin-top: 0;">
      <header
        class="flex center text flow items-center gap-h7 color-palette-trans background-overlay padding-y-relative-xl"
        style='background-image: url("/assets/images/WannaPlay-banner-paper.jpeg");'
      >
        <h1>Wanna Play in Brussel 2022</h1>
      </header>

      <section class="flow gap-h4 padding-y-h1">
        <div class="flow gap-h4">
          <p>
            <strong>WANNA PLAY IN BRUSSELS 2022 - 1ÈRE ÉDITION</strong>
          </p>
          <p>
            Un festival gratuit d’une journée consacré aux jeux de société dans un lieu historique
            en plein centre de Bruxelles.
          </p>
          <p>
            Le festival a eu lieu le 30 juillet 2022 de 12h à 23h au coeur des jardins du Grand
            Hospice Pacheco - Rue du Grand Hospice 7, 1000 Bruxelles.
          </p>
          <p>
            Le jardin, composé de pelouses, d’allées et de petites cours pavées, pouvait accueillir
            jusqu’à 500 personnes simultanément dont environ 250 places couvertes sous chapiteau.
          </p>
          <p>
            Le bar intérieur, également mis à notre disposition, pouvait accueillir une cinquantaine
            de personnes.
          </p>
        </div>
        <div class="flow gap-h4">
          <p>
            <strong>LE FESTIVAL AVAIT PLUSIEURS OBJECTIFS PRINCIPAUX</strong>
          </p>
          <ol>
            <li>
              Promouvoir le jeu à Bruxelles comme canal privilégié pour créer du lien entre
              individus de tous horizons socioculturels.
            </li>
            <li>
              Toucher un public moins joueur par un accueil chaleureux et en proposant des activités
              de découverte et de rencontre autour du jeu.
            </li>
            <li>
              Faire jouer Bruxelles à la sortie des confinements, surtout en l’absence du Brussels
              Games Festival et du Jette’s Gaming Tour.
            </li>
          </ol>
        </div>
        <div class="partners-grid" style="margin-bottom: 2rem;">
          {/* On boucle sur le tableau des PARTENAIRES PRINCIPAUX */}
          {
            imagesMainPartners.map(({ optimizedMeta, alt, finalLink }) => {
              const imgTag = <img src={optimizedMeta.src} {...optimizedMeta.attributes} alt={alt} />
              return finalLink ? (
                <a href={finalLink} target={finalLink.startsWith('http') ? '_blank' : ''}>
                  {imgTag}
                </a>
              ) : (
                imgTag
              )
            })
          }
        </div>
        <div class="video-container">
          <iframe
            src="https://www.youtube.com/embed/-QKaLnTcTr0?si=soq7AM3vRK7je99S"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
            class="center"></iframe>
        </div>
        <ul class="reset grid-fluid" style="--width-column-min: var(--width-col-8);">
          <li
            class="box no-border padding-h4 gap-h4 color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h1">±2500</p>
            <p>participants</p>
          </li>
          <li
            class="box no-border padding-h4 gap-h4 color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h1">170</p>
            <p>jeux différents</p>
          </li>
          <li
            class="box no-border padding-h4 gap-h4 color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h1">+70</p>
            <p>tables de jeux</p>
          </li>
          <li
            class="box no-border padding-h4 gap-h4 color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h1">36</p>
            <p>animateurs</p>
          </li>
          <li
            class="box no-border padding-h4 gap-h4 color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h1">20</p>
            <p>partenaires</p>
          </li>
          <li
            class="box no-border padding-h4 gap-h4 color-palette-trans background-overlay border-radius-s text-center"
          >
            <p class="h1">26</p>
            <p>bénévoles</p>
          </li>
        </ul>
      </section>

      <!-- <section class="flow gap-h4 padding-y-h1">
        <h2>Photos</h2>
        <div class="grid gap-h6" style="--width-column: 250px;">
          <ul class="reset">
            <li>
              <Image src={gagBack} alt="" class="gallery-img" />
            </li>
            <li>
              <Image src={hoplaFlorent} alt="" class="gallery-img" />
            </li>
            <li>
              <Image src={kidsStoryTime} alt="" class="gallery-img" />
            </li>
            <li>
              <Image src={kids} alt="" class="gallery-img" />
            </li>
            <li>
              <Image src={londonPierre} alt="" class="gallery-img" />
            </li>
            <li>
              <Image src={moonArea} alt="" class="gallery-img" />
            </li>
          </ul>
        </div>
      </section> -->

      <section class="flow gap-h4 padding-y-h1">
        <h2>Activités</h2>
        <ul class="flow gap-h4">
          <li>
            <p>TABLES DE JEUX</p>
            <p>
              Des espaces étaient dédiés aux jeux de société où les visiteurs pouvaient jouer et
              découvrir de nouveaux titres, chaque table était tenue par un partenaire ou un
              bénévole, afin d'y animer les parties tout en expliquant les règles des jeux.
            </p>
          </li>
          <li>
            <p>JEUX GÉANTS ET D'EXTÉRIEUR</p>
            <p>
              Plusieurs jeux de grande taille étaient disponibles en extérieur pour le plaisir des
              petits et des grands.
            </p>
          </li>
          <li>
            <p>BOURSE AUX JEUX</p>
            <p>Une opportunité d'acheter et de vendre des jeux d'occasion.</p>
          </li>
          <li>
            <p>ZONE PROTOTYPES</p>
            <p>
              Un espace dédié aux auteurs pour présenter leurs créations en cours de développement.
            </p>
          </li>
        </ul>
      </section>

      <section class="flow gap-h4 padding-y-h1">
        <h2>Vidéos</h2>
        <div class="video-grid">
          <iframe
            src="https://www.youtube.com/embed/PMNHLvEaFm4?si=YXSK8_l-d9OEfFr1"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen></iframe>
        </div>
      </section>

      <section class="flow gap-h4 padding-y-h1">
        <h2>Partenaires</h2>
        <p>
          Nous avons également reçu le soutien de nombreux acteurs ludiques Bruxellois et Belges
          dont :
        </p>
        <ul>
          <li>
            Thierry Saeys (propriétaire du magasin Sajou, ex-organisateur du Jette’s Gaming Tour,
            chroniqueur RTBF, papa du jeu ‘Assosiation 10 dés’) qui nous a beaucoup conseillé lors
            de la préparation de l’événement et pour la diffusion sur les réseaux sociaux.
          </li>
          <li>
            Toute l’équipe du Jardin pour la mise à disposition des lieux, la coordination
            logistique,…
          </li>
          <li>La ludothèque de l’espace Carême</li>
          <li>
            Etienne Espreman : auteur de jeux (dont Bruxelles 1893) et copropriétaire de la maison
            d’édition Geek Attitude Games
          </li>
          <li>Asmodée Belgique</li>
          <li>Repos Production</li>
          <li>Geronimo</li>
          <li>Pearl Games</li>
          <li>PLOEF!</li>
          <li>Chez Cubitus</li>
          <li>...</li>
        </ul>
        <div class="partners-grid">
          {/* On boucle sur le tableau des images */}
          {
            imagesPartners.map(({ optimizedMeta, alt, finalLink }) => {
              const imgTag = <img src={optimizedMeta.src} {...optimizedMeta.attributes} alt={alt} />
              return finalLink ? (
                <a href={finalLink} target={finalLink.startsWith('http') ? '_blank' : ''}>
                  {imgTag}
                </a>
              ) : (
                imgTag
              )
            })
          }
        </div>
        <!-- <div class="grid gap-h6" style="--width-column: 250px;">
          <ul class="reset">
            <li>
              <Image src={gagBack} alt="" />
            </li>
            <li>
              <Image src={hoplaFlorent} alt="" />
            </li>
          </ul>
        </div> -->
      </section>

      <section class="flow gap-h4 padding-y-h1">
        <h2>Bénévoles</h2>
        <p>
          Nos bénévoles ont été la véritable force motrice du festival cette année. Une équipe de 14
          bénévoles dévoués s'est mobilisée pour assurer le bon déroulement de l'événement.
        </p>
        <p>
          Leur dévouement a créé une ambiance conviviale et bienveillante tout au long de la
          journée. Nous exprimons notre profonde gratitude envers eux pour leur travail acharné.
        </p>
      </section>

      <section class="flow gap-h4 padding-y-h1">
        <h2>Budget & Surprises</h2>
        <h3>BUDGET</h3>
        <p>
          L'édition 2022 a été auto-financée par l'ASBL Wanna Play, avec le soutien logistique de
          nos partenaires. Nous avons dû composer avec un budget limité pour cette première année.
        </p>
        <h3>SURPRISES</h3>
        <p>Malgré une planification rigoureuse, nous avons été confrontés à quelques imprévus.</p>
        <h4>Affluence</h4>
        <p>
          Le succès a été plus grand que prévu, ce qui nous a demandé une grande réactivité pour
          accueillir tout le monde dans les meilleures conditions.
        </p>
        <h4>Logistique</h4>
        <p>
          L'installation dans le Jardin du Grand Hospice a présenté quelques défis techniques que
          nous avons su surmonter grâce à l'implication de l'équipe.
        </p>
      </section>

      <section class="flow gap-h4 padding-y-h1">
        <h2>Visibilité</h2>
        <div class="flow gap-h4">
          <h3>Promotion à travers divers média</h3>
          <ul>
            <li>Spot radio le matin même du festival sur la première</li>
            <li>Communiqué de presse envoyé à 22 médias.</li>
            <li>Une douzaine d’articles publiés par divers médias en ligne.</li>
            <li>
              Affichage à l’hospice Pacheco et dans quelques lieux clé dont des magasins de jeux et
              ludothèques
            </li>
            <li>
              Flyers distribués lors de certains événements et dans de nombreux lieux du centre
              ville
            </li>
            <li>Publications sur les réseaux sociaux</li>
            <li>Newsletter</li>
          </ul>
        </div>

        <div class="flow gap-h4">
          <h3>Espace Presse</h3>
          <p>
            Le communiqué de presse officiel détaillant les objectifs, les chiffres de l'édition
            précédente et les informations pratiques est disponible en consultation.
          </p>
          <a
            href="/assets/files/Wanna-Play-in-Brussels_communique-de-press-30-07-2022.pdf"
            target="_blank"
            download="Wanna-Play-in-Brussels_communique-de-press-30-07-2022"
          >
            Télécharger le Communiqué de Presse (PDF)
          </a>
        </div>

        <div class="flow gap-h4">
          <h3>Production audio-visuelles</h3>

          <p>
            En terme de productions audio-visuelles nous avons réalisé une mascotte, une affiche,
            des flyers, une affiche d’équipe, de la signalétique, des photos et des vidéos durant
            l’événement, ainsi qu’un after-movie et des interviews.
          </p>
        </div>

        <section class="flow gap-h4 padding-y-h1">
          <h2>Documents à télécharger</h2>
          <ul class="flow gap-h4">
            <li>
              <a
                href="/assets/files/Wanna-Play-Rapport-Activité-30-juillet-2022.pdf"
                target="_blank"
                download="Wanna-Play-Rapport-Activité-30-juillet-2022"
              >
                <strong>Rapport d'Activité 2022</strong> (PDF)
              </a>
            </li>
          </ul>
        </section>
      </section>
    </main>
  </BasicPage>
</SkeletonPage>
<style>
  .video-container {
    width: 100%;
  }

  .video-container iframe,
  .video-container img {
    width: 66.66%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-l);
  }
  .video-grid iframe {
    width: 50%;
    aspect-ratio: 16 / 9;
    border-radius: var(--border-radius-l);
  }

  .partners-grid {
    display: grid;
    /* 6 colonnes par défaut, qui s'adaptent si l'écran est plus petit */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 3rem 2rem;
    align-items: center;
    justify-items: center;
    margin-bottom: 2rem;
  }

  /* Pour s'assurer que les logos sur une grille complète ne dépassent pas */
  @media (min-width: 1024px) {
    .partners-grid {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .partners-grid img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 100px;
  }
</style>
